.form-main-div {
  .form-body {
    background-color: #fff7ff;
  }
}
.document-attachment {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  .attach-thumb {
    border: 1px solid #BABABA;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    p {
      font-size: 14px;
      line-height: 17px;
      color: #1B202B;
    }
  }
  .drag-drop {
    border: 1px dashed #DCDCDC;
    padding: 10px;
    border-radius: 8px;
    h4 {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #1B202B;
    }
    label {
      color: #582AA2;
      background-color: #E6EFFC;
      padding: 8px 15px;
      border-radius: 6px;
    }
    p {

      font-size: 14px;
      line-height: 17px;
      color: #1B202B;
    }
  }
  @media screen and (max-width: 991px) {
    .attach-thumb {
      p {
        font-size: 12px;
      }
    }
    .drag-drop {
      h4 {
        font-size: 14px;
      }
      label {
        font-size: 12px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
