::ng-deep .ck-editor__editable {
  min-height: 250px !important;
  max-height: 400px;
  overflow: auto;
}

.btn-toggle {
  background: #582AA2;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-toggle:hover {
  background: #451c82;
}

.form-main-div {
  .form-body {
    background-color: #f8f9fb;
  }
}

.highlight {
  border: 2px solid yellow !important;
  background-color: yellow !important;
}

.key-risks-table {
  overflow-x: auto;
  width: 100%;

  .table {
    min-width: 1200px; // Adjust based on your content
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;

    th, td {
      white-space: nowrap;
      vertical-align: middle;
    }

    th {
      font-weight: 600;
      background-color: #f8f9fa; // Optional: make headers stand out
    }
  }
}

.is-invalid {
  border-color: #dc3545;
}
