::ng-deep .ck-editor__editable {
  min-height: 250px !important;
  max-height: 400px;
  overflow: auto;
}

.btn-toggle {
  background: #582AA2;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-toggle:hover {
  background: #451c82;
}

.form-main-div {
  .form-body {
    background-color: #f8f9fb;
  }
}

.document-attachment {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .attach-thumb {
    border: 1px solid #BABABA;
    padding: 10px;
    border-radius: 8px;
    text-align: center;

    p {
      font-size: 14px;
      line-height: 17px;
      color: #1B202B;
    }
  }

  .drag-drop {
    border: 1px dashed #DCDCDC;
    padding: 10px;
    border-radius: 8px;

    h4 {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #1B202B;
    }

    label {
      color: #582AA2;
      background-color: #E6EFFC;
      padding: 8px 15px;
      border-radius: 6px;
    }

    p {

      font-size: 14px;
      line-height: 17px;
      color: #1B202B;
    }
  }



  @media screen and (max-width: 991px) {
    .attach-thumb {
      p {
        font-size: 12px;
      }
    }

    .drag-drop {
      h4 {
        font-size: 14px;
      }

      label {
        font-size: 12px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}

.highlight {
  border: 2px solid yellow !important;
  background-color: yellow !important;
}

.key-risks-table {
  overflow-x: auto;
  width: 100%;

  .table {
    min-width: 1200px; // Adjust based on your content
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;

    th, td {
      white-space: nowrap;
      vertical-align: middle;
    }

    th {
      font-weight: 600;
      background-color: #f8f9fa; // Optional: make headers stand out
    }
  }
}

.is-invalid {
  border-color: #dc3545;
}
