.login-main-div {
  .login-form {
    padding: 40px 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 16, 79, 0.12);
    border-radius: 16px;
    max-width: 600px;
    margin: -185px auto 0;
    position: relative;
    z-index: 1;
    .lf-head {
      h3 {
        font-weight: 600;
        font-size: 28px;
        line-height: 48px;
        color: #1B202B;
      }
      p {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: #626262;
      }
    }
    .lf-form {
      .form-group {
        label {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.01em;
          color: #091738;
        }
      }
      .frg-pass {
        text-align: end;
        margin-bottom: 15px;
        .btn {
          font-size: 14px;
          line-height: 15px;
          letter-spacing: 0.01em;
          color: #582AA2;
        }
      }
      .lf-btn-div {
        .btn {
          height: 56px;
          display: block;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
        .btn-primary {
          background-color: #582AA2;
          border-color: #582AA2;
        }
        p {
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.03em;
          color: #626262;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .login-form {
      padding: 20px;
      margin: -50px auto 0;
      .lf-head {
        h3 {
          font-size: 22px;
        }
        p {
          font-size: 14px;
        }
      }
      .lf-form {
        .form-group {
          label {
            font-size: 14px;
          }
        }
        .frg-pass {
          .btn {
            font-size: 12px;
          }
        }
        .lf-btn-div {
          .btn {
            height: 45px;
            font-size: 13px;
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}
