.approval-div {
  .appv-content {
    h2 {
      font-weight: 600;
      font-size: 30px;
      line-height: 120%;
      color: #1B202B;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #5A5A5A;
    }
  }
}
