<!-- Toasts Container -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <ngb-toast
    *ngFor="let toast of toastService.toasts"
    [class]="'bg-' + toast.type + ' text-white'"
    [autohide]="true"
    [delay]="5000"
    (hidden)="toastService.remove(toast)"
  >
    {{ toast.message }}
  </ngb-toast>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-card-div mb-4">
        <div class="page-card-body">
        <form [formGroup]="userForm">
         <div class="mb-4">
           <div class="fh-title mb-4">
             <h3>Basic Information</h3>
           </div>
           <div class="avtar-box mb-4">
             <div class="avtar-img">
               <img src="/img/visitor.png" alt="visitor" class="img-fluid">
             </div>
             <div class="avtar-btn-list">
               <button class="btn btn-dark text-white">Change avatar</button>
               <button class="btn btn-outline-secondary">Remove avatar</button>
             </div>
           </div>

           <div class="form-group mb-3">
             <label>Full Name <span class="danger">*</span></label>
             <input type="text" class="form-control" placeholder="Enter Full Name"  formControlName="displayName"/>
           </div>

           <div class="form-group mb-3">
             <label>Email Address <span class="danger">*</span></label>
             <input type="text" class="form-control" placeholder="Enter Email Address" formControlName="email"/>
           </div>
           <div class="form-group mb-3">
            <label>New Password <span class="danger">*</span></label>
            <input type="password" class="form-control" placeholder="Enter New Password" formControlName="password"/>
           </div>

           <div class="form-group mb-3">
             <label>Phone Number <span class="danger">*</span></label>
             <input type="text" class="form-control" placeholder="Phone number" formControlName="phone"/>
           </div>
         </div>
          <div class="mb-4">
            <div class="fh-title mb-4">
              <h3>Role Assignment</h3>
            </div>
            <div class="form-group mb-3">
              <label>Role Assignment <span class="danger">*</span></label>
               <select class="form-control" formControlName="roleId" >
                 <option [value]="0">Select Role</option>
                 <option *ngFor="let role of userRoles" [value]="role.id">{{role.name}}</option>
               </select>
            </div>
            <div class="form-group mb-3">
              <label>Department <span class="danger">*</span></label>
              <select class="form-control" formControlName="departmentId">
                <option [value]="0">Select Department</option>
                <option *ngFor="let dept of departments" [value]="dept.id">{{dept.displayName}}</option>
              </select>
            </div>
            <div class="form-group mb-3">
              <label>Is TOTP User</label>
              <div class="form-radio d-flex gap-3">
                <div class="radio-box position-relative">
                  <input type="radio" name="isTOPTUser" checked formControlName="isTOPTUser" [value]="true">
                  <label>Yes</label>
                </div>
                <div class="radio-box position-relative">
                  <input type="radio" name="isTOPTUser" formControlName="isTOPTUser" [value]="false">
                  <label>No</label>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Status</label>
              <div class="form-radio d-flex gap-3">
                <div class="radio-box position-relative">
                  <input type="radio" name="isActive" checked formControlName="isActive" [value]="true">
                  <label>Yes</label>
                </div>
                <div class="radio-box position-relative">
                  <input type="radio" name="isActive" formControlName="isActive" [value]="false">
                  <label>No</label>
                </div>
              </div>
            </div>
<!--            <div class="form-group mb-3">-->
<!--              <label>Additional Permissions</label>-->
<!--              <div class="form-check-list d-flex gap-3 flex-wrap">-->
<!--                <div class="form-check-box position-relative">-->
<!--                  <input type="checkbox" formControlName="isViewPaper">-->
<!--                  <label>Can view all Papers</label>-->
<!--                </div>-->
<!--                <div class="form-check-box position-relative">-->
<!--                  <input type="checkbox" formControlName="isEditPaper">-->
<!--                  <label>Can edit Papers </label>-->
<!--                </div>-->
<!--                <div class="form-check-box position-relative">-->
<!--                  <input type="checkbox" formControlName="isAssignRoles">-->
<!--                  <label>Can assign new roles</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

          </div>
        </form>
          <hr/>
          <div class="fb-form pt-0">
            <div class="ff-btn-list d-flex gap-3 justify-content-end">
              <button class="btn btn-outline-dark" (click)="resetForm()">
                Discard
              </button>
              <button
              class="btn btn-primary"
              (click)="addUserDetails()"
              [disabled]="isSubmitting"
              >
                <span *ngIf="!isSubmitting">Save Changes</span>
                <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm me-1"></span>
                <span *ngIf="isSubmitting">Saving...</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-none">
      <div class="page-card-div mb-4">
        <div class="page-card-body">
          <div class="mb-4">
            <div class="fh-title mb-4">
              <div class="row">
                <div class="col-6">
                  <h3>Security</h3>
                </div>
                <div class="col-6">
                  <div class="d-flex gap-3 justify-content-end align-items-center">
                    <span>Status (Active/ Inactive)</span>
                    <div class="form-check form-switch">

                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                    </div>
                  </div>

                </div>
              </div>


            </div>


            <div class="form-group mb-3">
              <label>Current Password</label>
              <input type="password" class="form-control" placeholder="Current Password"/>
            </div>
            <div class="form-group mb-3">
              <label>New Password</label>
              <input type="password" class="form-control" placeholder="Enter New Password"/>
            </div>
            <div class="form-group mb-3">
              <label>Confirm Password</label>
              <input type="password" class="form-control" placeholder="Re-enter Password"/>
            </div>


          </div>

          <hr/>
          <div class="fb-form pt-0">
            <div class="ff-btn-list d-flex gap-3">

              <button class="btn btn-dark">
                Update Password
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
