<div class="container-fluid">

  <!-- Modal -->
  <div class="modal fade vote-modal" id="Vote_Modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Approve Paper</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 7L17 17M7 17L17 7" stroke="#0C0C0C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group mb-3">
            <label>Approve By</label>
            <select class="form-control">
              <option>Withdraw</option>
              <option>Approval</option>
              <option>Action Req.</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label>Write Comment </label>
            <textarea class="form-control" placeholder="Write Here" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="cbp-main-div">
        <div class="cgb-table-div custom-table table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Paper</th>
              <th>CGB Chair</th>
              <th>CPO</th>
              <th class="text-white" style="background-color: #582AA2">Legal</th>
              <th>BLT</th>
              <th>PHCA</th>
              <th>Result</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="paper-id">
                  <p><b>#10242 </b> - Approach to Market</p>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="approved-status">
                    Approved
                  </label>
                </div>
              </td>
                <td>
                <div class="cgb-status">
                  <label class="withdrawn-status">
                    Withdrawn
                  </label>
                </div>
              </td>
              <td class="cgb-td">
                <div class="cgb-vote">
                  <span>In Process</span>
                  <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#Vote_Modal">
                    Vote
                  </button>
                </div>
              </td>

                <td>
                <div class="cgb-status">
                  <label class="approved-status">
                    Approved
                  </label>
                </div>
              </td>
                <td>
                  <div class="cgb-status">
                    <label class="approved-status">
                      Approved
                    </label>
                  </div>
                </td>
              <td>
                <div class="cgb-status">
                 <div class="text-white" style="background-color: #E10000">Withdraw</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="paper-id">
                  <p><b>#10242 </b> - Approach to Market</p>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="withdrawn-status">
                    Withdrawn
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="withdrawn-status">
                    Withdrawn
                  </label>
                </div>
              </td>
              <td class="cgb-td">
                <div class="cgb-vote">
                  <span>In Process</span>
                  <button class="btn btn-dark">
                    Vote
                  </button>
                </div>
              </td>

              <td>
                <div class="cgb-status">
                  <label class="withdrawn-status">
                    Withdrawn
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="withdrawn-status">
                    Withdrawn
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <div class="text-white" style="background-color: #E10000">Withdraw</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="paper-id">
                  <p><b>#10242 </b> - Approach to Market</p>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="withdrawn-status">
                    Withdrawn
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="withdrawn-status">
                    Withdrawn
                  </label>
                </div>
              </td>
              <td class="cgb-td">
                <div class="cgb-vote">
                  <span>In Process</span>
                  <button class="btn btn-dark">
                    Vote
                  </button>
                </div>
              </td>

              <td>
                <div class="cgb-status">
                  <label class="withdrawn-status">
                    Withdrawn
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="withdrawn-status">
                    Withdrawn
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <div class="text-white" style="background-color: #E10000">Withdraw</div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="paper-id">
                  <p><b>#10242 </b> - Approach to Market</p>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="approved-status">
                    Approved
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="approved-status">
                    Approved
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="approved-status"> Approved </label>
                </div>
              </td>

              <td>
                <div class="cgb-status">
                  <label class="approved-status">
                    Approved
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="approved-status">
                    Approved
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <div class="text-white" style="background-color: #007007">Approved</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="paper-id">
                  <p><b>#10242 </b> - Approach to Market</p>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="approved-status">
                    Approved
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="approved-status">
                    Approved
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="approved-status"> Approved </label>
                </div>
              </td>

              <td>
                <div class="cgb-status">
                  <label class="approved-status">
                    Approved
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="approved-status">
                    Approved
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <div class="text-white" style="background-color: #007007">Approved</div>
                </div>
              </td>
            </tr>


            <tr>
              <td>
                <div class="paper-id">
                  <p><b>#10242 </b> - Approach to Market</p>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="Actionreq-status">
                    Action Req
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="Actionreq-status">
                    Action Req
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="Actionreq-status"> Action Req </label>
                </div>
              </td>

              <td>
                <div class="cgb-status">
                  <label class="Actionreq-status">
                    Action Req
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="Actionreq-status">
                    Action Req
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <div class="text-dark" style="background-color: #FFA500">Action Req.</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="paper-id">
                  <p><b>#10242 </b> - Approach to Market</p>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="inprocess-status">
                    In Process
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="withdrawn-status">
                    Withdrawn
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="withdrawn-status">
                    Withdrawn
                  </label>
                </div>
              </td>

              <td>
                <div class="cgb-status">
                  <label class="Actionreq-status">
                    Action Req
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="Actionreq-status">
                    Action Req
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <div class="text-dark" style="background-color: #E8E8E8">In Process</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="paper-id">
                  <p><b>#10242 </b> - Approach to Market</p>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="inprocess-status">
                    In Process
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="withdrawn-status">
                    Withdrawn
                  </label>
                </div>
              </td>
              <td class="cgb-td">
                <div class="cgb-status">
                  <label class="withdrawn-status">
                    Withdrawn
                  </label>
                </div>
              </td>

              <td>
                <div class="cgb-status">
                  <label class="Actionreq-status">
                    Action Req
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <label class="Actionreq-status">
                    Action Req
                  </label>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                  <div class="text-dark" style="background-color: #E8E8E8">In Process</div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
