<!-- Toasts Container -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <ngb-toast
    *ngFor="let toast of toastService.toasts"
    [class]="'bg-' + toast.type +' text-white'"
    [autohide]="true"
    [delay]="5000"
    (hidden)="toastService.remove(toast)"
  >
    {{ toast.message }}
  </ngb-toast>
</div>


<div class="container-fluid">

  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Vote</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="form-group mb-3">
        <label>Vote</label>
        <select class="form-control" [(ngModel)]="status">
          <option value="" selected disabled>Select Vote</option>
          <option value="Withdrawn">Withdraw</option>
          <option value="Approved">Approved</option>
          <option value="Action Required">Action Req.</option>
        </select>
      </div>

      <div class="form-group mb-3">
        <label>Write Comment </label>
        <textarea [(ngModel)]="approvalRemark" class="form-control" placeholder="Write Here" rows="3"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button>
      <button type="button" class="btn btn-primary" (click)="updateVote(modal)">Save changes</button>
    </div>
  </ng-template>

  <div class="row">
    <div class="col-md-12">
      <div class="cbp-main-div">
        <div class="cgb-table-div custom-table table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Paper</th>
              @for (user of users; track user.userId) {
                <th [ngClass]="{'text-white': user.userId === loggedInUser?.id && user.role === loggedInUser?.roleId}"
                    [ngStyle]="{'background-color': user.userId === loggedInUser?.id && user.role === loggedInUser?.roleId ? '#582AA2' : null}">{{ user.roleName }}
                </th>
              }
              <th>Result</th>
            </tr>
            </thead>
            <tbody>
              @for (paper of cycleObject | keyvalue; track paper.key) {
                <tr>
                  <td>
                    <div class="paper-id">
                      <p (click)="gotoPaper(paper.value.paperInfo.paperID, paper.value.paperInfo.paperType)"><b class="cursor-pointer" (click)="gotoPaper(paper.value.paperInfo.paperID, paper.value.paperInfo.paperType)">#{{ paper.value.paperInfo.cgbRef }} </b> - {{ paper.value.paperInfo.paperTitle }}</p>
                    </div>
                  </td>
                  @for (user of paper.value.users; track user.userID) {
                    @if (paper.value.paperInfo.result !== 'Withdrawn') {
                      @if (user.userID === loggedInUser?.id && user.userRoleId === loggedInUser?.roleId) {
                        <td class="cgb-td">
                          <div
                            [ngClass]="{'cgb-vote w-100': user.voteStatus === 'Pending', 'cgb-status': user.voteStatus !== 'Pending'}">
                            @if (user.voteStatus === 'Pending') {
                              <button class="btn btn-dark w-100"
                                      (click)="open($event, content, paper.value.paperInfo.paperID)">
                                Vote
                              </button>
                            } @else {
                              <label class="{{classMap[user.voteStatus]}}-status">
                                {{ user.voteStatus }}
                              </label>
                            }
                          </div>
                        </td>
                      } @else {
                        <td>
                          <div class="cgb-status">
                            <label class="{{classMap[user.voteStatus]}}-status">
                              {{ user.voteStatus }}
                            </label>
                          </div>
                        </td>
                      }
                    } @else {
                      <td>
                        <div class="cgb-status">
                          <label class="{{classMap[user.voteStatus]}}-status">
                            {{ user.voteStatus }}
                          </label>
                        </div>
                      </td>
                    }
                  }
                  <td>
                    <div class="cgb-status">
                      <label class="{{classMap[paper.value.paperInfo.result]}}-status">
                        {{ paper.value.paperInfo.result }}
                      </label>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
