.table-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #1B202B;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #787878;
    font-weight: 500;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.paper-title {
  transition: all 0.2s ease;
  &:hover {
    color: #582AA2;
    text-decoration: underline;
  }
}
