.page-card-div {
  padding: 20px;
  border: 1px solid #DCDCDC;
  border-radius: 12px;
  background-color: #ffffff;
  .approach-table {
    thead {
      tr {
        th {
          padding: 15px;
          font-weight: 500;
          background-color: #F8F9FB;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 10px 15px;
          vertical-align: middle;
        }
      }
      tr:nth-child(even) {
        td {
          background-color: #F8F9FB;
        }
      }
    }
  }
  .edit-btb-div {
    .btn {
      background-color: #E6EFFC;
      width: 44px;
      height: 44px;
    }
  }
  .ud-img {
    flex: 0 0 38px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #ffffff;
    overflow: hidden;
  }
  .user-action-dropdown {
    .dropdown-toggle {
      &:after {
        display: none;
      }
    }
    .action-menu {
      padding: 10px;
      background: #FFFFFF;
      border-right: 1px solid #DCDCDC;
      box-shadow: 0px 0px 4px rgba(0, 16, 79, 0.12);
      border-radius: 8px;
      left: auto;
      right: 0;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      min-width: 107px;
      .links {
        background-color: #F0F0F0;
        border-radius: 5px;
        margin-bottom: 5px;
        font-size: 12px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .approach-table {
      thead {
        tr {
          th {
            padding: 10px;
            font-size: 12px;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 10px;
            font-size: 12px;
          }
        }

      }
    }
    .role-btn-div .btn {
      font-size: 12px;
    }
  }
}

