<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-card-div">

        <div class="page-card-body">
          <div class="table-responsive">
            <div class="approach-table custom-table">
              <table class="table">
                <thead>
                <tr>
                  <th width="5%">
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label><span class="opacity-0">-</span></label>
                      </div>
                    </div>
                  </th>
                  <th>ID</th>
                  <th>User Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Department</th>
                  <th>Last Login</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label><span class="opacity-0">-</span></label>
                      </div>
                    </div>
                  </td>
                  <td>
                   001
                  </td>
                  <td>
                    <div class="user-div d-flex align-items-center gap-3 mb-3">
                      <div class="ud-img">
                        <img src="/img/visitor.png" alt="visitor" class="img-fluid">
                      </div>
                      <div class="ud-detail">
                        <p class="mb-0">Taher Khambaty</p>
                      </div>
                    </div>
                  </td>
                  <td>(435) 474-3348</td>
                  <td>napozjegmail.com</td>
                  <td>CAM</td>
                  <td>Account</td>
                  <td>16 Mar 2022</td>
                  <td>
                    <button class="btn">
                      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 10C5.4 10 4.5 10.9 4.5 12C4.5 13.1 5.4 14 6.5 14C7.6 14 8.5 13.1 8.5 12C8.5 10.9 7.6 10 6.5 10ZM18.5 10C17.4 10 16.5 10.9 16.5 12C16.5 13.1 17.4 14 18.5 14C19.6 14 20.5 13.1 20.5 12C20.5 10.9 19.6 10 18.5 10ZM12.5 10C11.4 10 10.5 10.9 10.5 12C10.5 13.1 11.4 14 12.5 14C13.6 14 14.5 13.1 14.5 12C14.5 10.9 13.6 10 12.5 10Z" fill="#898989"/>
                      </svg>
                    </button>
                  </td>



                </tr>

                </tbody>
              </table>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
