<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-8">
      <div class="page-card-div mb-4">
        <div class="page-card-body">
          <div class="mb-4">
            <div class="form-group mb-3">
              <label>Value Name</label>
              <input type="text" class="form-control" placeholder="Enter Full Name"/>
            </div>
            <div class="form-group mb-3">
              <label>Enter Tax ID</label>
              <input type="text" class="form-control" placeholder="Enter Tax ID"/>
            </div>
            <div class="form-group mb-3">
              <label>Status</label>
              <div class="form-radio d-flex gap-3">
                <div class="radio-box position-relative">
                  <input type="radio" name="status-radio" checked>
                  <label>Yes</label>
                </div>
                <div class="radio-box position-relative">
                  <input type="radio" name="status-radio">
                  <label>No</label>
                </div>
              </div>
            </div>
          </div>
          <hr/>
          <div class="fb-form pt-0">
            <div class="ff-btn-list d-flex gap-3 justify-content-end">
              <button class="btn btn-outline-dark">
                Discard
              </button>
              <button class="btn btn-primary">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
