<div class="main-container">
  <div
    class="editor-container editor-container_document-editor editor-container_include-outline editor-container_include-annotations editor-container_include-pagination"
    #editorContainerElement
  >
    <div class="editor-container__menu-bar" #editorMenuBarElement></div>
    <div class="editor-container__toolbar" #editorToolbarElement></div>
    <div class="editor-container__editor-wrapper">
      <div class="editor-container__editor">
        <div #editorElement>
          <ckeditor (change)="onEditorChange($event)" [editor]="Editor" [config]="config" (ready)="onReady($event)" *ngIf="Editor && config"/>
        </div>
      </div>
    </div>
  </div>
</div>
