.form-main-div {
  .form-body {
    background-color: #f8f9fb;
  }
}
.highlight {
  border: 2px solid yellow !important;
  background-color: yellow !important;
}

::ng-deep .ck-editor__editable {
  min-height: 250px !important;
  max-height: 400px;
  overflow: auto;
}

.btn-toggle {
  background: #582AA2;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-toggle:hover {
  background: #451c82;
}

.table-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #1B202B;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #787878;
    font-weight: 500;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
