.chevron::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: "";
    display: inline-block;
    height: 0.35em;
    left: 0.15em;
    position: relative;
    top: 0.3em;
    vertical-align: top;
    width: 0.35em;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;

    height: 100vh;
    transition: 0.3s;
    z-index: 99;
    width: 70px;
    overflow: auto;
    &.expanded {
      width: 300px;

      .header {
        h1 {
          margin-left: 0px;
        }
        .chevron {
          margin-left: 0px;
          &::before {
            transform: rotate(-135deg);
          }
        }
      }
      .content {
        .link {
          .content {
            .title {
              max-width: 100%;
              font-size: 14px;
              display: block;
            }
            .icon {
              margin-right: 3px;
            }
          }
          .children {
            .content {
              padding-left: 35px;
            }
          }
        }
      }
    }

    background: #ffffff;
    color: #626262;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    .header {
      position: relative;
      padding: 20px;
      border-bottom: 1px solid #DCDCDC;
      height: 70px;
      h1 {
        font-size: 20px;
        color: #6d6e7e;
        margin: 0;
        flex: 1;
        transition: 0.3s;

        margin-left: -100px;
      }

      .chevron {
        color: #6d6e7e;
        cursor: pointer;
        transition: 0.3s;
        margin-left: -25px;

        padding: 10px;
        min-width: 20px;
        height: 20px;
        display: block;
        text-align: center;

        &::before {
          transition: 0.3s;
          transform: rotate(45deg);
        }

        &:hover {
          color: white;
        }
      }
    }

    .content {
      padding: 15px 0;
      .link {
        text-decoration: none;
        .children {
          position: relative;
          &:after {
            content: "";
            width: 1px;
            height: 100%;
            background-color: #EEEEEE;
            position: absolute;
            left: 23px;
            top: 0;
          }

          .content {
            background: #ffffff;
            // padding-left: 30px;
            padding-left: 10px;

            &.active {
              background: #191a27;
            }
          }
        }
        .content {
          display: flex;
          align-items: center;
          justify-content: start;
          padding: 15px 10px;
          cursor: pointer;
          transition: 0.3s;
          border-radius: 12px;
          &:hover {
            background: #E6EFFC;
            .title {
              color: #1B202B;
            }
            svg {
              stroke: #1B202B;
            }
          }
          .arrow.open {
            transform: rotate(180deg);
            transition: 0.2s;
          }

          &.active {
            background: #0f1017;
            .title {
              color: white;
            }
          }

          .icon {
            flex: 0 0 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0px;
          }
          .title {
            flex: 1;
            color: #6d6e7e;
            transition: 0.3s;
            max-width: 0;
            overflow: hidden;
            font-weight: 500;
          }
        }
      }
      .title {
        display: none;
      }
      .arrow {
        svg {
          width: 12px;
        }
      }
    }
  }
.expanded {
  .content {
    padding: 15px;

  }
}
