.form-main-div {
  .form-body {
    background-color: #f8f9fb;
  }
}
.highlight {
  border: 2px solid yellow !important;
  background-color: yellow !important;
}

::ng-deep .ck-editor__editable {
  min-height: 250px !important;
  max-height: 400px;
  overflow: auto;
}

.btn-toggle {
  background: #582AA2;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-toggle:hover {
  background: #451c82;
}
