
<!-- Toasts Container -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <ngb-toast 
    *ngFor="let toast of toastService.toasts" 
    [class]="'bg-' + toast.type +' text-white'"
    [autohide]="true"
    [delay]="5000"
    (hidden)="toastService.remove(toast)"
  >
    {{ toast.message }}
  </ngb-toast>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-card-div">
        <div class="form-header mb-4">
          <div class="row align-items-center">
            <div class="col-6">
              <div class="fh-title">
                <h3>List of Dictionaries</h3>
              </div>

            </div>
            <div class="col-6">
              <div class="role-btn-div text-end">
                <button class="btn btn-light ms-auto" (click)="nevigate()">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.0001 4.16797V15.8346M4.16675 10.0013H15.8334" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  Add New Dictionary
                </button>

              </div>
            </div>
          </div>
        </div>
        <div class="page-card-body">
          <div class="dictionaries-detail">
            <div class="d-flex">       
              <div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column" orientation="vertical">
              <ng-container *ngFor="let item of dictionaryItem;let i=index"> 
                <ng-container [ngbNavItem]="item.itemName">
                  <button ngbNavLink (click)="loadDictionaryDetails(item.itemName)">{{item.itemName}}</button>
                  <ng-template ngbNavContent>
                   <div class="dict-table-div">
                    <div *ngIf="isLoading" class="table-loader">
                      <div class="spinner"></div>
                      <p>Loading data, please wait...</p>
                    </div>
                     <table class="table" *ngIf="!isLoading">
                       <thead>
                         <tr>
                           <th>Value Name</th>
                           <th>Status</th>
                           <th>Last Updated</th>
                           <th>Action</th>
                         </tr>
                       </thead>
                       <tbody>
                        <tr *ngFor="let detail of dictionaryDetail">
                         <td>{{detail.itemValue}}</td>
                         <td>
                           <span [ngClass]="detail.isActive ? 'p-active' : 'p-inactive'">
                             {{ detail.isActive ? 'Active' : 'Inactive' }}
                           </span>
                         </td>
                         <td>{{ (detail.modifiedDate || detail.createdDate) | date: 'dd MMMM yyyy' }}</td>
                         <td>
                           <div class="edit-btn-div">
                             <a [routerLink]="['/dictionaries-edit', item.itemName,detail.id]" class="btn">
                               <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M11.4174 1.52051L10.094 2.84395L13.6486 6.39863L14.9721 5.0752C15.6557 4.3916 15.6557 3.28418 14.9721 2.60059L13.8947 1.52051C13.2111 0.836914 12.1037 0.836914 11.4201 1.52051H11.4174ZM9.47598 3.46191L3.10215 9.83848C2.81778 10.1229 2.60997 10.4756 2.49512 10.8611L1.52715 14.1506C1.45879 14.383 1.52169 14.6318 1.69122 14.8014C1.86075 14.9709 2.10958 15.0338 2.33926 14.9682L5.62872 14.0002C6.01426 13.8854 6.367 13.6775 6.65137 13.3932L13.0307 7.0166L9.47598 3.46191Z" stroke="#626262" stroke-width="1.2"/>
                               </svg>
                             </a>
                           </div>
                         </td>
                       </tr>
                       </tbody>
                     </table>
                   </div>
                  </ng-template>
                </ng-container>
              </ng-container>
              </div>

              <div [ngbNavOutlet]="nav" class="ms-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
