<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-card-div">
        <div class="form-header mb-4">
          <div class="row align-items-center">
            <div class="col-6">
              <div class="fh-title">
                <h3>List of Dictionaries</h3>
              </div>

            </div>
            <div class="col-6">
              <div class="role-btn-div text-end">
                <button class="btn btn-light ms-auto" (click)="nevigate()">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.0001 4.16797V15.8346M4.16675 10.0013H15.8334" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  Add New Value
                </button>

              </div>
            </div>
          </div>
        </div>
        <div class="page-card-body">
          <div class="dictionaries-detail">
            <div class="d-flex">       
              <div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column" orientation="vertical">
              <ng-container *ngFor="let item of dictionaryItem;let i=index"> 
                <ng-container [ngbNavItem]="item.itemName">
                  <button ngbNavLink (click)="loadDictionaryDetails(item.itemName)">{{item.itemName}}</button>
                  <ng-template ngbNavContent>
                   <div class="dict-table-div">
                     <table class="table">
                       <thead>
                         <tr>
                           <th>Value Name</th>
                           <th>Status</th>
                           <th>Last Updated</th>
                           <th>Action</th>
                         </tr>
                       </thead>
                       <tbody>
                        <tr *ngFor="let detail of dictionaryDetail">
                         <td>{{detail.itemValue}}</td>
                         <td>
                           <div class="vendore-status">
                            <label [class.active]="detail.isActive">{{ detail.isActive ? 'Active' : 'Inactive' }}</label>
                           </div>
                         </td>
                         <td>
                           {{detail.modifiedDate | date: 'dd MMMM yyyy'}}
                         </td>
                         <td>
                           <div class="edit-btn-div">
                             <a href="/dictionaries-edit" class="btn">
                               <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M11.4174 1.52051L10.094 2.84395L13.6486 6.39863L14.9721 5.0752C15.6557 4.3916 15.6557 3.28418 14.9721 2.60059L13.8947 1.52051C13.2111 0.836914 12.1037 0.836914 11.4201 1.52051H11.4174ZM9.47598 3.46191L3.10215 9.83848C2.81778 10.1229 2.60997 10.4756 2.49512 10.8611L1.52715 14.1506C1.45879 14.383 1.52169 14.6318 1.69122 14.8014C1.86075 14.9709 2.10958 15.0338 2.33926 14.9682L5.62872 14.0002C6.01426 13.8854 6.367 13.6775 6.65137 13.3932L13.0307 7.0166L9.47598 3.46191Z" stroke="#626262" stroke-width="1.2"/>
                               </svg>
                             </a>
                           </div>
                         </td>
                       </tr>
                       </tbody>
                     </table>
                   </div>
                  </ng-template>
                </ng-container>
              </ng-container>
                <!-- <ng-container ngbNavItem="middle">
                  <button ngbNavLink>Operating Functions</button>
                  <ng-template ngbNavContent>
                    <p>
                      Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                      farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                      ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                      helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                      8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                      stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                    </p>
                  </ng-template>
                </ng-container>
                <ng-container ngbNavItem="bottom">
                  <button ngbNavLink>Subsector</button>
                  <ng-template ngbNavContent>
                    <p>
                      Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
                      facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
                      congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
                      et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
                      faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci
                      varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem
                      aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.
                    </p>
                  </ng-template>
                </ng-container> -->
              </div>

              <div [ngbNavOutlet]="nav" class="ms-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
