<!-- Toasts Container -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <ngb-toast
    *ngFor="let toast of toastService.toasts"
    [class]="'bg-' + toast.type +' text-white'"
    [autohide]="true"
    [delay]="5000"
    (hidden)="toastService.remove(toast)"
  >
    {{ toast.message }}
  </ngb-toast>
</div>

<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-8">
      <div class="page-card-div mb-4">
        <div class="page-card-body">
          <div class="mb-4">
            <form [formGroup]="thresholdForm" (ngSubmit)="onSubmit()">
              <div class="form-group mb-3">
                <label>Threshold Name *</label>
                <input type="text" class="form-control" formControlName="thresholdName" placeholder="ie.High-Value Contracts"/>
              </div>

              <div class="form-group mb-3">
                <label>Description</label>
                <textarea class="form-control" formControlName="description" placeholder="Enter Description" rows="4"></textarea>
              </div>

              <div class="form-group mb-3">
                <label>Paper Type *</label>
                <select id="paperType" class="form-control allow-comments"
                        formControlName="paperType">
                  <option [value]="null">Select Status</option>
                  <ng-container *ngFor="let item of paperTypeData?.length ? paperTypeData : []">
                    <option [value]="item.value">
                      {{ item.label }}
                    </option>
                  </ng-container>
                </select>
              </div>

              <div class="form-group mb-3">
                <div class="d-flex align-items-center gap-3">
                  <label>Status</label>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" formControlName="isActive" id="flt-sw1">
                    <label class="form-check-label ms-2 text-dark" for="flt-sw1">Active</label>
                  </div>
                </div>
              </div>

              <div class="form-group mb-3">
                <label>PSA Agreement *</label>
                <select id="remunerationType" class="form-control allow-comments"
                        formControlName="psaAgreement">
                  <option [value]="null">Select Status</option>
                  <ng-container *ngFor="let item of psaList?.length ? psaList : []">
                    <option [value]="item.id">
                      {{ item.itemValue }}
                    </option>
                  </ng-container>
                </select>
<!--                <div class="text-danger"-->
<!--                     *ngIf="submitted && procurementDetailsInfo?.get('remunerationType')?.hasError('required')">-->
<!--                  <small class="text-danger">This field is required.</small>-->
<!--                </div>-->
              </div>

              <div class="form-group mb-3">
                <label>Contract Absolute Value *</label>
                <input type="number" class="form-control" formControlName="contractValueLimit" placeholder="Ie. >= $5,000,000"/>
              </div>

              <div class="form-group mb-3">
                <label>Contract Variation (%) *</label>
                <input min="0" oninput="if (this.value > 100) this.value = 100"
                       max="100" type="number" class="form-control" formControlName="variationPercent" placeholder="Ie. >= 20%"/>
              </div>

              <div class="fb-form pt-0">
                <div class="ff-btn-list d-flex gap-3 justify-content-end">
                  <button type="button" class="btn btn-outline-dark" (click)="discard()">Discard</button>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
