<!-- Toasts Container -->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <ngb-toast *ngFor="let toast of toastService.toasts" [class]="'bg-' + toast.type +' text-white'" [autohide]="true"
      [delay]="5000" (hidden)="toastService.remove(toast)">
      {{ toast.message }}
    </ngb-toast>
  </div>



  <div class="container-fluid" *ngIf="paperDetails">

    <div class="timeline-main-div mb-5">

      <div *ngFor="let activity of paperTimelineDetails; let i = index" [class]="getStatusClass(i)">
        <div class="tb-head d-flex gap-2">
          <div>
            <h1>{{ activity.id }}</h1>
          </div>
          <div>
            <h6>{{ activity.activityName }}</h6>
            <p>
              {{ activity.activityDate ? (activity.activityDate | date: 'dd-MMM, yyyy hh:mm a') : 'Pending' }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div [class]="showComments ? 'col-md-8' : 'col-md-12'">
        <div class="form-main-div">
          <div class="form-header mb-4">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="fh-title">
                  <h3>Preview</h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="fh-action d-flex gap-3 justify-content-end">
                  <button class="btn btn-outline-secondary" (click)="toggleComments()">
                    {{ showComments ? 'Hide Comments' : 'Show Comments' }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-body bg-white">
            <div class="fb-form">
              <div class="fb-title-div mb-3">
                <h4>1. General Information</h4>
              </div>

              <div class="fb-form" formGroupName="generalInfo">
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                    <div class="form-group mb-3">
                      <label>For the provision of </label>
                      <p [safeHtml]="contractAwardDetails?.paperProvision"></p>

                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="form-group mb-3">
                      <label>CGB AtM Ref No </label>
                      <h6>{{contractAwardDetails?.cgbAtmRefNo}}</h6>


                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label>CGB AtM Approval Date</label>
                      <h6>{{contractAwardDetails?.cgbApprovalDate | date: 'dd-MMMM-yyyy'}}</h6>

                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group mb-3">
                      <label>Contract No </label>
                      <h6>{{contractAwardDetails?.contractNo}}</h6>

                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group mb-3 allow-comments" id="isChangeinApproachMarket" >
                      <label>Have there been changes to the Scope since CGB Approach to Market?</label>
                      <h6>{{contractAwardDetails?.isChangeinApproachMarket ? 'Yes':'No'}}</h6>
                      <div class="form-radio d-flex gap-3">

                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group mb-3">
                      <label>Changes since AtM / Why is this work required? </label>
                      <p [safeHtml]="contractAwardDetails?.purposeRequired"></p>

                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label>CGB Item Ref </label>
                      <h6>{{contractAwardDetails?.cgbItemRefNo}}</h6>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label>CGB Circulation Date</label>
                      <div class="date-input position-relative">
                        <h6>{{contractAwardDetails?.cgbCirculationDate | date: 'dd-MMMM-yyyy'}}</h6>

                      </div>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label>Contract No </label>
                      <h6>{{contractAwardDetails?.contractNo}}</h6>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label>Vendor ID </label>
                      <h6>{{contractAwardDetails?.vendorId}}</h6>

                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label>Global CGB</label>
                      <h6>{{contractAwardDetails?.globalCGB}}</h6>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label>Operating Function </label>
                      <h6>{{contractAwardDetails?.operatingFunction}}</h6>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label>BLT Member </label>
                      <h6>{{contractAwardDetails?.bltMemberName}}</h6>

                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label>Subsector</label>
                      <h6>{{contractAwardDetails?.subSector}}</h6>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-3">
                      <label>Sourcing Type</label>
                      <h6>{{contractAwardDetails?.sourcingType}}</h6>

                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label>Contract Accountable Manager</label>
                      <h6>{{contractAwardDetails?.camUserName}}</h6>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label>VP-1 </label>
                      <h6>{{contractAwardDetails?.vP1UserName}}</h6>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label>Procurement SPA</label>
                      <h6>{{contractAwardDetails?.procurementSPAUsers}}</h6>

                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="form-group mb-3">
                      <label>PDM</label>
                      <h6>{{contractAwardDetails?.pdManagerName}}</h6>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-6">
                    <div class="form-group mb-3 allow-comments" id="isPHCA">
                      <label>PHCA </label>
                      <h6>{{contractAwardDetails?.isPHCA ? 'Yes':'No'}}</h6>

                    </div>
                  </div>

                  <div class="col-sm-6 col-md-4">
                    <div class="form-group mb-3">
                      <label>Total Award Value (USD) </label>
                      <h6>{{contractAwardDetails?.totalAwardValueUSD}}</h6>

                    </div>
                  </div>
                  <div class="col-sm-6 col-md-2">
                    <label>Original Currency</label>
                    <h6>{{contractAwardDetails?.currencyCode}}</h6>


                  </div>
                  <div class="col-sm-6 col-md-2">
                    <div class="form-group mb-3">
                      <label>Exchange Rate</label>
                      <h6>{{contractAwardDetails?.exchangeRate}}</h6>

                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="form-group mb-3">
                      <label>Contract Value</label>
                      <h6>{{contractAwardDetails?.contractValue}}</h6>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-4">
                    <div class="form-group mb-3">
                      <label>Remuneration Type</label>
                      <h6>{{contractAwardDetails?.remunerationType}}</h6>


                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="form-group mb-3">

                      <div class="form-group mb-3 allow-comments" id="isPaymentRequired">
                        <label>Prepayment Required </label>
                        <h6>{{contractAwardDetails?.isPaymentRequired ? 'Yes':'No'}}</h6>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-2">
                    <div class="form-group mb-3">
                      <label> Prepayment %</label>
                      <h6>{{contractAwardDetails?.prePayPercent}}</h6>

                    </div>
                  </div>
                  <div class="col-sm-6 col-md-2">
                    <div class="form-group mb-3">
                      <label>Prepayment $</label>
                      <h6>{{contractAwardDetails?.prePayAmount}}</h6>

                    </div>
                  </div>

                  <div class="col-sm-6 col-md-4">
                    <div class="form-group mb-3">
                      <label>Workspace</label>
                      <h6>{{contractAwardDetails?.workspaceNo}}</h6>

                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="form-group mb-3">

                      <div class="form-group mb-3 allow-comments" id="isSplitAward">
                        <label>Split Award </label>
                        <h6>{{contractAwardDetails?.isSplitAward ? 'Yes':'No'}}</h6>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="form-group mb-3">
                      <label>PSA/JV </label>
                      <h6>{{contractAwardDetails?.psajv}}</h6>

                    </div>
                  </div>

                  <div class="col-sm-6 col-md-12">
                    <div class="form-group mb-3 allow-comments" id="isLTCC">
                      <label>Long Term Commercial Commitment </label>
                      <h6>{{contractAwardDetails?.isLTCC ? 'Yes':'No'}}</h6>


                    </div>
                    <div class="form-group mb-3">
                      <label>LTCC Note</label>
                      <p [safeHtml]="contractAwardDetails?.ltccNotes"></p>

                    </div>
                  </div>
                  <div class="col-sm-6 col-md-12">
                    <div class="form-group mb-3 allow-comments"  id="isGovtReprAligned">
                      <label>Aligned with Government Representative </label>
                      <h6>{{contractAwardDetails?.isGovtReprAligned ? 'Yes':'No'}}</h6>

                    </div>

                    <div class="form-group mb-3">
                      <label>Government Representative Comment</label>
                      <p [safeHtml]="contractAwardDetails?.govtReprAlignedComment"></p>

                    </div>
                  </div>



                  <div class="form-group mb-3 allow-comments" id="contractSpendCommitment">
                    <label class="mb-3">Framework or Commitment</label>
                    <div class="form-radio d-flex flex-column ps-3">
                      <div class="radio-box position-relative mb-2">
                        <h6>{{contractAwardDetails?.contractSpendCommitment}}</h6>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="fb-form">
              <div class="fb-title-div mb-3">
                <h4>2. Procurement Strategy</h4>
              </div>

              <div class="fb-form">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group mb-3">
                      <label>Supplier Award Recommendation Text</label>
                      <p [safeHtml]="contractAwardDetails?.supplierAwardRecommendations"></p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group mb-3 allow-comments" id="legalEntitiesAwarded">
                      <div class="overflow-auto">
                        <div class="key-risks-table custom-table">
                          <table class="table">
                            <thead>
                            <tr>
                              <th>Full Name of Legal Entity</th>
                              <th>Local/JV</th>
                              <th>Total Award Value (USD)</th>
                              <th>Original Currency</th>
                              <th>Exchange Rate</th>
                              <th>Contract Value</th>
                              <th>Start Date</th>
                              <th>End Date</th>
                              <th>Extension Options</th>

                            </tr>
                            </thead>
                            <tbody >
                            <tr *ngFor="let entity of legalEntitiesAwarded; let i = index">
                              <td>
                                 <h6>{{entity.legalName}}</h6>
                              </td>
                              <td class="text-center align-middle">
                                <h6>{{entity.isLocalOrJV ? 'Yes':'No'}}</h6>

                              </td>
                              <td>
                                <h6>{{entity.totalAwardValueUSD }}</h6>

                              </td>
                              <td>
                                <h6>{{entity.currencyCode }}</h6>

                              </td>
                              <td>
                                <h6>{{entity.exchangeRate }}</h6>

                              </td>
                              <td>
                                <h6>{{entity.contractValue }}</h6>

                              </td>
                              <td>
                                <h6>{{entity.contractStartDate | date: 'dd-MMMM-yyyy' }}</h6>

                              </td>
                              <td>
                                <h6>{{entity.contractEndDate | date: 'dd-MMMM-yyyy' }}</h6>

                              </td>
                              <td>
                                <h6>{{entity.extensionOption }}</h6>

                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group mb-3 allow-comments" id="isConflictOfInterest">
                      <label class="mb-3">Conflict of Interest</label>
                      <div class="form-radio d-flex gap-3">
                        <h6>{{contractAwardDetails?.isConflictOfInterest ? 'Yes':'No'}}</h6>

                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label>Conflict of Interest Comments</label>
                      <p [safeHtml]="contractAwardDetails?.conflictOfInterestComment"></p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group mb-3 allow-comments" id="isRetrospectiveApproval">
                      <label class="mb-3">Retrospective Approval</label>
                      <div class="form-radio d-flex gap-3">
                        <h6>{{contractAwardDetails?.isRetrospectiveApproval ? 'Yes':'No'}}</h6>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label>Conflict of Interest Comments</label>
                      <p [safeHtml]="contractAwardDetails?.retrospectiveApprovalReason"></p>
                    </div>
                  </div>
                  <div class="col-sm-12">

                    <div class="form-group mb-3">
                      <label>National Content</label>
                      <p [safeHtml]="contractAwardDetails?.nationalContent"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="fb-form">
                <div class="fb-title-div mb-3">
                  <h4>3. CDD (Counterparty Due Diligence)</h4>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                      <div class="form-group mb-3">
                        <label>High Risk Contract</label>
                        <div class="form-radio d-flex gap-3 allow-comments">
                          <div class="radio-box position-relative">
                            <h6>{{contractAwardDetails?.isHighRiskContract ? 'Yes':'No'}}</h6>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="form-group mb-3">
                        <label>CDD Completed / Refreshed</label>
                        <div class="date-input position-relative">
                          <h6>{{contractAwardDetails?.cddCompleted | date : 'dd-MMMM-yyyy'}}</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">

                      <div class="form-group mb-3">
                        <label>Explanation for High Risk</label>
                        <p [safeHtml]="contractAwardDetails?.highRiskExplanation"></p>
                      </div>
                    </div>
                    <div class="col-sm-6">

                      <div class="form-group mb-3">
                        <label>Flags raised during initial CDD / CDD refresh</label>
                        <p [safeHtml]="contractAwardDetails?.flagRaisedCDD"></p>

                      </div>
                    </div>
                    <div class="col-sm-6">

                      <div class="form-group mb-3">
                        <label>Additional CDD Controls for High Risk Contracts</label>
                        <p [safeHtml]="contractAwardDetails?.additionalCDD"></p>

                      </div>
                    </div>
                </div>
            </div>


            <div class="fb-form">
                <div class="fb-title-div mb-3">
                  <h4>4.  Evaluation Summary</h4>
                </div>
                <div class="fb-form">
                    <h6 class="mb-3"><b>Technical Evaluation</b></h6>
                    <div class="row">
                      <div class="col-sm-6 col-md-6">
                        <div class="form-group mb-3">
                          <label>Number of Invited Bidders</label>
                          <h6>{{contractAwardDetails?.invitedBidders}}</h6>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6">
                        <div class="form-group mb-3">
                          <label>Number of Submitted bids</label>
                          <h6>{{contractAwardDetails?.submittedBids}}</h6>
                        </div>
                      </div>
                    </div>
                    <h6 class="mb-3"><b>Supplier Technical Scores</b></h6>
                    <div class="row allow-comments" id="supplier_technical_scores">
                      <div class="col-sm-12 col-md-12">
                        <div class="form-group mb-3">
                          <div class="overflow-auto">
                            <div class="key-risks-table custom-table">
                              <table class="table">
                                <thead>
                                <tr>
                                  <th>Full Legal Entity Name</th>
                                  <th>Score Threshold (%)</th>
                                  <th>Technical Go/ No Go</th>
                                  <th>Technical Score (%)</th>
                                  <th>Results of HSSE</th>
                                  <th>Commentary</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let supplierTech of supplierTechnical; let i = index">
                                  <td>
                                    <h6>{{supplierTech.legalName}}</h6>
                                  </td>
                                  <td>
                                    <h6>{{supplierTech.thresholdPercent}}</h6>
                                  </td>
                                  <td>
                                    <h6>{{supplierTech.isTechnical ? 'Yes':'No'}}</h6>
                                  </td>
                                  <td>
                                    <h6>{{supplierTech.technicalScorePercent}}</h6>
                                  </td>
                                  <td>
                                    <h6>{{supplierTech.resultOfHSSE}}</h6>
                                  </td>
                                  <td>
                                    <h6>{{supplierTech.commentary}}</h6>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-12">
                        <div class="form-group mb-3">
                          <label>Benchmarking for Sole Awards</label>
                          <p [safeHtml]="contractAwardDetails?.benchMarking"></p>

                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6 col-md-6">
                        <div class="form-group mb-3">
                          <label>Lessons learned from previous contract</label>
                          <p [safeHtml]="contractAwardDetails?.previousContractLearning"></p>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6">
                        <div class="form-group mb-3">
                          <label>Performance Improvements embedded</label>
                          <p [safeHtml]="contractAwardDetails?.performanceImprovements"></p>
                        </div>
                      </div>
                    </div>
                    <h6 class="mb-3"><b>Commercial Evaluation</b></h6>

                    <div class="col-sm-12 col-md-12 allow-comments" id="commercial_evaluation">
                      <div class="form-group mb-3">
                        <div class="overflow-auto">
                          <div class="key-risks-table custom-table">
                            <table class="table">
                              <thead>
                              <tr>
                                <th>Full Legal Entity Name</th>
                                <th>Total Value ($)</th>
                              </tr>
                              </thead>
                              <tbody >
                              <tr *ngFor="let evalution of commericalEvaluation; let i = index" >
                                <td>
                                  <h6>{{evalution.legalName}}</h6>
                                </td>
                                <td>
                                  <h6>{{evalution.totalValue}}</h6>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>


            <div class="fb-form">
                <div class="fb-title-div mb-3">
                  <h4>5. Additional Award Details</h4>
                </div>
                <div class="fb-form" formGroupName="additionalDetails">
                    <div class="row">
                      <div class="col-sm-12 col-md-12">
                        <div class="form-group mb-3">
                          <label>Contractual Controls for Key Cost Drivers</label>
                          <p [safeHtml]="contractAwardDetails?.contractualControls"></p>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6">
                        <div class="form-group mb-3 allow-comments" id="contractCurrencyLinktoBaseCost">
                          <label>Contract Currency Linked to Base Cost</label>
                          <div class="form-check-list d-flex gap-3 flex-wrap">
                            <h6>{{contractAwardDetails?.contractCurrencyLinktoBaseCost ? 'Yes':'No'}}</h6>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-12">
                        <div class="form-group mb-3">
                          <label>Explanation (if "No")</label>
                          <p [safeHtml]="contractAwardDetails?.explanationsforBaseCost"></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                      <div class="form-group mb-3 allow-comments" id="riskMitigation">
                        <label>Key Risks and Mitigations</label>
                        <div class="overflow-auto">
                          <div class="key-risks-table custom-table">
                            <table class="table">
                              <thead>
                              <tr>
                                <th>ID</th>
                                <th>Risks</th>
                                <th>Mitigations</th>

                              </tr>
                              </thead>
                              <tbody >
                              <tr *ngFor="let risk of riskMitigation; let i = index" >
                                <td>{{ risk.srNo }}</td>
                                <td>
                                  <h6>{{risk.risks}}</h6>
                                </td>
                                <td>
                                  <h6>{{risk.mitigations}}</h6>
                                </td>

                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>


            <div class="fb-form">
              <div class="fb-title-div mb-3">
                <h4>6. Value Delivery</h4>
              </div>
              <div class="overflow-auto">
                <div class="cost-table-div custom-table table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Category</th>
                        <th>Value</th>
                        <th>Percentage</th>
                        <th>Remarks</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of valueDeliveriesCostsharing">
                        <td><b>Cost Reduction</b></td>
                        <td>{{ item.costReductionValue | currency:'USD':'symbol':'1.2-2' }}</td>
                        <td>{{ item.costReductionPercent | number:'1.2-2' }}%</td>
                        <td>{{ item.costReductionRemarks }}</td>
                      </tr>
                      <tr *ngFor="let item of valueDeliveriesCostsharing">
                        <td><b>Operating Efficiency</b></td>
                        <td>{{ item.operatingEfficiencyValue | currency:'USD':'symbol':'1.2-2' }}</td>
                        <td>{{ item.operatingEfficiencyPercent | number:'1.2-2' }}%</td>
                        <td>{{ item.operatingEfficiencyRemarks }}</td>
                      </tr>
                      <tr *ngFor="let item of valueDeliveriesCostsharing">
                        <td><b>Cost Avoidance</b></td>
                        <td>{{ item.costAvoidanceValue | currency:'USD':'symbol':'1.2-2' }}</td>
                        <td>{{ item.costAvoidancePercent | number:'1.2-2' }}%</td>
                        <td>{{ item.costAvoidanceRemarks }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


            <div class="fb-form">
              <div class="fb-title-div mb-3">
                <h4>7. Cost Allocation and JV Approval</h4>
              </div>

              <div class="fb-form">
                <div class="overflow-auto">
                  <div class="cost-table-div custom-table table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>PSA</th>
                          <th *ngFor="let psa of getSelectedPSAJVColumns()">
                            <div class="form-check-list d-flex gap-3 flex-wrap">
                              <div class="form-check-box position-relative">
                                <input type="checkbox" [checked]="getPSACheckboxValue(psa)" disabled>
                                <label>{{ psa }}</label>
                              </div>
                            </div>
                          </th>
                          <th>
                            <b>Total</b>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><b>As%</b></td>
                          <td *ngFor="let psa of getSelectedPSAJVColumns()">
                            <label>{{ getPSAPercentageValue(psa) !== null ? (getPSAPercentageValue(psa) | number:'1.2-2') + '%' : '' }}</label>
                          </td>
                          <td>
                            <label>{{ getTotalPercentage() > 0 ? (getTotalPercentage() | number:'1.2-2') + '%' : '' }}</label>
                          </td>
                        </tr>

                        <tr>
                          <td><b>By value $</b></td>
                          <td *ngFor="let psa of getSelectedPSAJVColumns()">
                            <label>{{ getPSAValueValue(psa) !== null ? (getPSAValueValue(psa) | number:'1.2-2') : '' }}</label>
                          </td>
                          <td>
                            <label>{{ getTotalValue() > 0 ? (getTotalValue() | number:'1.2-2') : '' }}</label>
                          </td>
                        </tr>

                        <tr>
                          <td><b>1st Committee</b></td>
                          <td *ngFor="let psa of getSelectedPSAJVColumns()">
                            <div *ngIf="hasFirstCommitteeCheckbox(psa)" class="form-check-list d-flex gap-3 flex-wrap">
                              <div class="form-check-box position-relative">
                                <input type="checkbox" [checked]="getFirstCommitteeValue(psa)" disabled>
                                <label>{{ getFirstCommitteeLabel(psa) }}</label>
                              </div>
                            </div>
                          </td>
                          <td>
                          </td>
                        </tr>

                        <tr>
                          <td><b>2nd Committee</b></td>
                          <td *ngFor="let psa of getSelectedPSAJVColumns()">
                            <div *ngIf="hasSecondCommitteeCheckbox(psa)" class="form-check-list d-flex gap-3 flex-wrap">
                              <div class="form-check-box position-relative">
                                <input type="checkbox" [checked]="getSecondCommitteeValue(psa)" disabled>
                                <label>{{ getSecondCommitteeLabel(psa) }}</label>
                              </div>
                            </div>
                          </td>
                          <td>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="fb-form">
              <div class="fb-title-div mb-3">
                <h4>8. Cost Sharing Methodology</h4>
              </div>
              <div class="overflow-auto">
                <div class="cost-table-div custom-table table-responsive">
                  <table class="table table-bordered">
                    <tbody>
                      <tr *ngFor="let item of valueDeliveriesCostsharing">
                        <th width="15%">
                          <div class="form-check-list d-flex gap-3 flex-wrap">
                            <div class="form-check-box position-relative">
                              <input type="checkbox" [checked]="item.isCapex" disabled>
                              <label><b class="text-dark">Capex</b></label>
                            </div>
                          </div>
                        </th>
                        <td>
                          <div class="form-radio-custom-width form-radio">
                            <div class="row">
                              <div class="col">
                                <div class="radio-box position-relative">
                                  <input type="radio" name="capexMethodology" value="1a" [checked]="item.capexMethodology === '1a'" disabled>
                                  <label>1a</label>
                                </div>
                              </div>
                              <div class="col">
                                <div class="radio-box position-relative">
                                  <input type="radio" name="capexMethodology" value="1b" [checked]="item.capexMethodology === '1b'" disabled>
                                  <label>1b</label>
                                </div>
                              </div>
                              <div class="col">
                                <div class="radio-box position-relative">
                                  <input type="radio" name="capexMethodology" value="1c" [checked]="item.capexMethodology === '1c'" disabled>
                                  <label>1c</label>
                                </div>
                              </div>
                              <div class="col">
                                <div class="radio-box position-relative">
                                  <input type="radio" name="capexMethodology" value="1d" [checked]="item.capexMethodology === '1d'" disabled>
                                  <label>1d</label>
                                </div>
                              </div>
                              <div class="col">
                                <div class="radio-box position-relative">
                                  <input type="radio" name="capexMethodology" value="1e" [checked]="item.capexMethodology === '1e'" disabled>
                                  <label>1e</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr *ngFor="let item of valueDeliveriesCostsharing">
                        <th width="15%">
                          <div class="form-check-list d-flex gap-3 flex-wrap">
                            <div class="form-check-box position-relative">
                              <input type="checkbox" [checked]="item.isFixOpex" disabled>
                              <label><b class="text-dark">Fixed Opex</b></label>
                            </div>
                          </div>
                        </th>
                        <td>
                          <div class="form-radio-custom-width form-radio">
                            <div class="row">
                              <div class="col">
                                <div class="radio-box position-relative">
                                  <input type="radio" name="fixOpexMethodology" value="2a" [checked]="item.fixOpexMethodology === '2a'" disabled>
                                  <label>2a</label>
                                </div>
                              </div>
                              <div class="col">
                                <div class="radio-box position-relative">
                                  <input type="radio" name="fixOpexMethodology" value="2b" [checked]="item.fixOpexMethodology === '2b'" disabled>
                                  <label>2b</label>
                                </div>
                              </div>
                              <div class="col">
                                <div class="radio-box position-relative">
                                  <input type="radio" name="fixOpexMethodology" value="2c" [checked]="item.fixOpexMethodology === '2c'" disabled>
                                  <label>2c</label>
                                </div>
                              </div>
                              <div class="col">
                                <div class="radio-box position-relative">
                                  <input type="radio" name="fixOpexMethodology" value="2d" [checked]="item.fixOpexMethodology === '2d'" disabled>
                                  <label>2d</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr *ngFor="let item of valueDeliveriesCostsharing">
                        <th width="15%">
                          <div class="form-check-list d-flex gap-3 flex-wrap">
                            <div class="form-check-box position-relative">
                              <input type="checkbox" [checked]="item.isVariableOpex" disabled>
                              <label><b class="text-dark">Variable Opex</b></label>
                            </div>
                          </div>
                        </th>
                        <td>
                          <div class="form-radio-custom-width form-radio">
                            <div class="row">
                              <div class="col">
                                <div class="radio-box position-relative">
                                  <input type="radio" name="variableOpexMethodology" value="2e" [checked]="item.variableOpexMethodology === '2e'" disabled>
                                  <label>2e</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr *ngFor="let item of valueDeliveriesCostsharing">
                        <th width="15%">
                          <div class="form-check-list d-flex gap-3 flex-wrap">
                            <div class="form-check-box position-relative">
                              <input type="checkbox" [checked]="item.isInventoryItems" disabled>
                              <label><b class="text-dark">Inventory Items</b></label>
                            </div>
                          </div>
                        </th>
                        <td>
                          <div class="form-radio-custom-width form-radio">
                            <div class="row">
                              <div class="col">
                                <div class="radio-box position-relative">
                                  <input type="radio" name="inventoryItemsMethodology" value="BP Warehouse" [checked]="item.inventoryItemsMethodology === 'BP Warehouse'" disabled>
                                  <label>Yes</label>
                                </div>
                              </div>
                              <div class="col">
                                <div class="radio-box position-relative">
                                  <input type="radio" name="inventoryItemsMethodology" value="VMI" [checked]="item.inventoryItemsMethodology === 'VMI'" disabled>
                                  <label>Yes</label>
                                </div>
                              </div>
                              <div class="col">
                                <div class="radio-box position-relative">
                                  <input type="radio" name="inventoryItemsMethodology" value="No" [checked]="item.inventoryItemsMethodology === 'No'" disabled>
                                  <label>No</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="fb-form">
              <div class="fb-title-div mb-3">
                <h4>9. Consultations</h4>
              </div>
              <div class="overflow-auto">
                <div class="key-risks-table custom-table">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>PSA</th>
                        <th>Technically Correct</th>
                        <th>Budget Statement</th>
                        <th>JV Review</th>
                        <th>JV Aligned</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let consultation of consultationsDetails">
                        <td>{{ consultation.psa }}</td>
                        <td>{{ consultation.technicalCorrectName }}</td>
                        <td>{{ consultation.budgetStatementName }}</td>
                        <td>{{ consultation.jvReviewName }}</td>
                        <td>{{ consultation.jvAligned ? 'Yes' : 'No' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-main-div">
          <div class="form-header mb-4">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="fh-title">
                  <h3>Comments</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="visitor-logs-card" *ngIf="showComments">
            <div class="visitor-box mb-3" *ngFor="let log of logs">
              <div class="vb-img">
                <img src="/img/visitor.png" alt="visitor" class="img-fluid">
              </div>
              <div class="vb-detail">
                <h6>{{ log.logCreateByName }}
                  <!--                <span>(Secretary)</span> -->
                </h6>
                <p>
                  {{ log.description }}
                </p>
                <small>{{ log.logCreateDate | timeAgo }}</small>

              </div>
            </div>
            <div class="chat-input-group position-relative">
              <textarea class="form-control" [(ngModel)]="comment" placeholder="Write comment here"></textarea>
              <button class="btn" (click)="addPaperCommentLogs()">
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0.636705 0.0448581C0.556778 0.00584078 0.46695 -0.00818904 0.378933 0.00459804C0.290916 0.0173851 0.208793 0.0563957 0.143274 0.116543C0.077754 0.176691 0.0318774 0.255185 0.0116255 0.341789C-0.00862634 0.428394 -0.0023138 0.519092 0.0297403 0.602056L2.55624 7.37997C2.70525 7.78008 2.70525 8.22045 2.55624 8.62056L0.0306291 15.3985C-0.00126334 15.4813 -0.00749372 15.5719 0.0127476 15.6583C0.0329889 15.7448 0.078766 15.8231 0.14413 15.8832C0.209493 15.9433 0.291421 15.9824 0.379265 15.9953C0.46711 16.0082 0.556808 15.9944 0.636705 15.9557L16.6328 8.40195C16.7089 8.36596 16.7732 8.3091 16.8183 8.23799C16.8633 8.16688 16.8872 8.08444 16.8872 8.00027C16.8872 7.91609 16.8633 7.83365 16.8183 7.76254C16.7732 7.69143 16.7089 7.63457 16.6328 7.59859L0.636705 0.0448581Z"
                    fill="#582AA2" />
                  <path d="M3.2002 8H16.0002" stroke="#E6EFFC" stroke-width="0.646308" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>

              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
