<!-- Toasts Container -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <ngb-toast
    *ngFor="let toast of toastService.toasts"
    [class]="'bg-' + toast.type +' text-white'"
    [autohide]="true"
    [delay]="5000"
    (hidden)="toastService.remove(toast)"
  >
    {{ toast.message }}
  </ngb-toast>
</div>

<div class="login-main-div">
  <div class="login-cover-div">
    <img src="/img/cover-img.png" alt="visitor" class="img-fluid">
  </div>
  <div class="login-form">
    <div class="lf-head text-center mb-4">
      <h3>Forgot Your Password</h3>
      <p>Don’t worry! Resetting your password is easy. Just type<br>
        in the email you registered to NobleBlocks.</p>
    </div>
    <div class="lf-form">
      <div class="form-group mb-3">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="Enter email address"/>
      </div>


      <div class="lf-btn-div mb-3">
        <button class="btn btn-primary">
          Send
        </button>

      </div>
      <div class="frg-pass">
        <p class="text-center">
          Did you remembered your password?
          <a href="/forgot-password" class="btn p-0">
            Try Sign in
          </a>
        </p>

      </div>
    </div>
  </div>
</div>
