<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-card-div">
        <div class="form-header mb-4">
          <div class="row align-items-center">
            <div class="col-6">
              <div class="fh-title">
                <h3>Approach to Market</h3>
              </div>

            </div>
            <div class="col-6">
              <div class="role-btn-div text-end">
                <button class="btn btn-light ms-auto" (click)="newRole()">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.3334 5.33516V10.6685M10.6668 8.00182H16.0001M9.06678 3.73307C9.06678 5.49938 7.63425 6.93098 5.86678 6.93098C4.09931 6.93098 2.66678 5.49938 2.66678 3.73307C2.66678 1.96676 4.09931 0.535156 5.86678 0.535156C7.63425 0.535156 9.06678 1.96676 9.06678 3.73307ZM11.2001 15.4588L0.533447 15.4588C0.533447 14.7014 0.533447 13.9808 0.533447 13.3284C0.533447 11.561 1.96613 10.1289 3.73345 10.1289L8.00011 10.1289C9.76742 10.1289 11.2001 11.561 11.2001 13.3284C11.2001 13.9808 11.2001 14.7014 11.2001 15.4588Z" stroke="white" stroke-width="1.06667"/>
                  </svg>

                  Add New Role
                </button>

              </div>
            </div>
          </div>
        </div>
        <div class="page-card-body">
          <div class="table-responsive">
            <div class="approach-table custom-table">
              <table class="table">
                <thead>
                <tr>
                  <th><span class="text-muted">Roles</span> </th>
                  <th>Paper Configuration</th>
                  <th>User Management</th>
                  <th>Vendor Management</th>
                  <th>CGB  Management</th>
                  <th>Reporting & Analytics</th>
                  <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>System Admin</td>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label>Full Access</label>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label>Full Access</label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label>Full Access</label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label>Full Access</label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label>Full Access</label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="edit-btb-div">
                      <button class="btn">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10.9176 1.52832L9.5942 2.85176L13.1489 6.40645L14.4723 5.08301C15.1559 4.39941 15.1559 3.29199 14.4723 2.6084L13.395 1.52832C12.7114 0.844727 11.604 0.844727 10.9204 1.52832H10.9176ZM8.97623 3.46973L2.6024 9.84629C2.31802 10.1307 2.11021 10.4834 1.99537 10.8689L1.0274 14.1584C0.959039 14.3908 1.02193 14.6396 1.19146 14.8092C1.36099 14.9787 1.60982 15.0416 1.83951 14.976L5.12896 14.008C5.51451 13.8932 5.86724 13.6854 6.15162 13.401L12.5309 7.02441L8.97623 3.46973Z" stroke="#0C0C0C" stroke-width="1.2"/>
                        </svg>
                      </button>
                    </div>
                  </td>

                </tr>
                <tr>
                  <td> CAM (Contract Accountable Manager)</td>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label><span class="opacity-0">1</span></label>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label><span class="opacity-0">1</span></label>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label>Read Only</label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label>Read Only</label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label>Full Access</label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="edit-btb-div">
                      <button class="btn">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10.9176 1.52832L9.5942 2.85176L13.1489 6.40645L14.4723 5.08301C15.1559 4.39941 15.1559 3.29199 14.4723 2.6084L13.395 1.52832C12.7114 0.844727 11.604 0.844727 10.9204 1.52832H10.9176ZM8.97623 3.46973L2.6024 9.84629C2.31802 10.1307 2.11021 10.4834 1.99537 10.8689L1.0274 14.1584C0.959039 14.3908 1.02193 14.6396 1.19146 14.8092C1.36099 14.9787 1.60982 15.0416 1.83951 14.976L5.12896 14.008C5.51451 13.8932 5.86724 13.6854 6.15162 13.401L12.5309 7.02441L8.97623 3.46973Z" stroke="#0C0C0C" stroke-width="1.2"/>
                        </svg>
                      </button>
                    </div>
                  </td>

                </tr>
                <tr>
                  <td> Pre-CGB Member</td>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label><span class="opacity-0">-</span></label>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label>Read Only</label>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label>Read Only</label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label><span class="opacity-0">-</span></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label><span class="opacity-0">-</span></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="edit-btb-div">
                      <button class="btn">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10.9176 1.52832L9.5942 2.85176L13.1489 6.40645L14.4723 5.08301C15.1559 4.39941 15.1559 3.29199 14.4723 2.6084L13.395 1.52832C12.7114 0.844727 11.604 0.844727 10.9204 1.52832H10.9176ZM8.97623 3.46973L2.6024 9.84629C2.31802 10.1307 2.11021 10.4834 1.99537 10.8689L1.0274 14.1584C0.959039 14.3908 1.02193 14.6396 1.19146 14.8092C1.36099 14.9787 1.60982 15.0416 1.83951 14.976L5.12896 14.008C5.51451 13.8932 5.86724 13.6854 6.15162 13.401L12.5309 7.02441L8.97623 3.46973Z" stroke="#0C0C0C" stroke-width="1.2"/>
                        </svg>
                      </button>
                    </div>
                  </td>

                </tr>
                <tr>
                  <td> Partner</td>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label><span class="opacity-0">-</span></label>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label><span class="opacity-0">-</span></label>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label>Full Access</label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label>Full Access</label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-check-list d-flex gap-3 flex-wrap">
                      <div class="form-check-box position-relative">
                        <input type="checkbox">
                        <label>Full Access</label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="edit-btb-div">
                      <button class="btn">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10.9176 1.52832L9.5942 2.85176L13.1489 6.40645L14.4723 5.08301C15.1559 4.39941 15.1559 3.29199 14.4723 2.6084L13.395 1.52832C12.7114 0.844727 11.604 0.844727 10.9204 1.52832H10.9176ZM8.97623 3.46973L2.6024 9.84629C2.31802 10.1307 2.11021 10.4834 1.99537 10.8689L1.0274 14.1584C0.959039 14.3908 1.02193 14.6396 1.19146 14.8092C1.36099 14.9787 1.60982 15.0416 1.83951 14.976L5.12896 14.008C5.51451 13.8932 5.86724 13.6854 6.15162 13.401L12.5309 7.02441L8.97623 3.46973Z" stroke="#0C0C0C" stroke-width="1.2"/>
                        </svg>
                      </button>
                    </div>
                  </td>

                </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
