.page-card-div {
  padding: 20px;
  border: 1px solid #DCDCDC;
  border-radius: 12px;
  background-color: #ffffff;
  .approach-table {
    thead {
      tr {
        th {
          padding: 15px;
          font-weight: 500;
          background-color: #F8F9FB;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 10px 15px;
          vertical-align: middle;
        }
      }
      tr:nth-child(even) {
        td {
          background-color: #F8F9FB;
        }
      }
    }
  }
  .edit-btb-div {
    .btn {
      background-color: #E6EFFC;
      width: 44px;
      height: 44px;
    }
  }
  .role-access-table {
    overflow-x: auto;
    .table {
      width: 100%;
      table-layout: auto;
      border-collapse: collapse;
      thead {
        tr {
          display: table-row;
          th {
            padding: 12px 15px;
            text-align: center;
            vertical-align: middle;
            border-bottom: 2px solid #E8E8E8;
            background-color: #F8F9FB;
            position: sticky;
            top: 0;
            z-index: 10;
            white-space: nowrap;
            small {
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              color: #787878;
              display: block;
              margin-bottom: 4px;
            }
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #1B202B;
            overflow: visible;
            &:first-child {
              text-align: left;
              width: 300px;
              min-width: 300px;
              position: sticky;
              left: 0;
              z-index: 11;
              background-color: #F8F9FB;
              white-space: normal;
              small {
                width: 100%;
                font-size: 14px;
                word-break: break-word;
              }
            }
            &:not(:first-child) {
              min-width: 150px;
            }
          }
        }
      }
      .custom-accordion {
        .accordion-item {
          border: none;
          border-radius: 0 !important;
          .accordion-header {
            position: relative;
            .accordion-button {
              padding-left: 40px;
              background-color: #F1EBFA;
              border-radius: 0!important;
              display: flex;
              gap: 10px;
              font-weight: 600;
              font-size: 16px;
            }

            .btn-edit {
              position: absolute;
              top: 8px;
              right: 15px;
              padding: 0;
              z-index: 9;
            }

            .accordion-button::after {
              margin-left: 0;
              position: absolute;
              left: 15px;
            }
          }
          .accordion-body {
            padding: 0;
            overflow-x: visible;
            .table {
              margin: 0;
              width: 100%;
              table-layout: auto;
              border-collapse: collapse;
              tr {
                display: table-row;
                td {
                  padding: 12px 15px;
                  text-align: center;
                  vertical-align: middle;
                  border-bottom: 1px solid #F0F0F0;
                  white-space: nowrap;
                  .ps-5 {
                    padding-left: 40px!important;
                    font-size: 14px;
                    color: #626262;
                  }
                  &:first-child {
                    text-align: left;
                    width: 300px;
                    min-width: 300px;
                    position: sticky;
                    left: 0;
                    z-index: 5;
                    background-color: #ffffff;
                    white-space: normal;
                    .table-title-div {
                      width: 100%;
                      text-align: left;
                      font-size: 14px;
                      word-break: break-word;
                      padding: 0;
                    }
                  }
                  &:not(:first-child) {
                    min-width: 150px;
                  }
                  .table-title-div {
                    width: 100%;
                    text-align: left;
                    font-size: 14px;
                    word-break: break-word;
                    padding: 0;
                  }
                }
              }
            }
            .form-check-list {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0;
              width: 100%;
              .form-check-box {
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
  .table-width-set {
    width: 100%;
    overflow-x: auto;
    tr {
      .col-17-td {
        padding: 0;
      }
    }
  }
  .roll-small {
    display: block;
    width: 100%;
  }
  @media screen and (max-width: 991px) {
    .approach-table {
      thead {
        tr {
          th {
            padding: 10px;
            font-size: 12px;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 10px;
            font-size: 12px;
          }
        }

      }
    }
    .role-btn-div .btn {
      font-size: 12px;
    }
  }
}


.table-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #f8f9fb;
  border-radius: 15px;
  border: 1px solid #BABABA;

  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #1B202B;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #787878;
    font-weight: 500;
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



