
<!-- Toasts Container -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <ngb-toast
    *ngFor="let toast of toastService.toasts"
    [class]="'bg-' + toast.type +' text-white'"
    [autohide]="true"
    [delay]="5000"
    (hidden)="toastService.remove(toast)"
  >
    {{ toast.message }}
  </ngb-toast>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-card-div">
        <div class="form-header mb-4">
          <div class="row align-items-center">
            <div class="col-6">
              <div class="fh-title">
                <h3>Role Access</h3>
              </div>
            </div>
            <div class="col-6">
              <div class="role-btn-div text-end">
                <button class="btn btn-light ms-auto" (click)="newRole()">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M13.3334 5.33516V10.6685M10.6668 8.00182H16.0001M9.06678 3.73307C9.06678 5.49938 7.63425 6.93098 5.86678 6.93098C4.09931 6.93098 2.66678 5.49938 2.66678 3.73307C2.66678 1.96676 4.09931 0.535156 5.86678 0.535156C7.63425 0.535156 9.06678 1.96676 9.06678 3.73307ZM11.2001 15.4588L0.533447 15.4588C0.533447 14.7014 0.533447 13.9808 0.533447 13.3284C0.533447 11.561 1.96613 10.1289 3.73345 10.1289L8.00011 10.1289C9.76742 10.1289 11.2001 11.561 11.2001 13.3284C11.2001 13.9808 11.2001 14.7014 11.2001 15.4588Z"
                      stroke="white" stroke-width="1.06667"/>
                  </svg>
                  Add New Role
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isLoading" class="table-loader">
          <div class="spinner"></div>
          <p>Loading data, please wait...</p>
        </div>
        <div class="page-card-body" *ngIf="!isLoading">
          <div class="role-access-table">
            <div class="table-responsive">
              <div class="table-width-set">
              <table class="table table-borderless" width="100%">
                <thead>
                <tr>
                  <th>
                    <small class="roll-small">Roles</small>
                  </th>
                  <ng-container *ngFor="let role of roles">
                    <th>
                      {{ role.name }}
                    </th>
                  </ng-container>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let access of accessTypes">
                  <tr>
                    <td class="p-0 col-17-td" colspan="17">
                      <div class="custom-accordion" ngbAccordion>
                        <div ngbAccordionItem [collapsed]="false">
                          <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>
                              {{ access.typeName }}
                            </button>
                          </h2>
                          <div ngbAccordionCollapse>
                            <div ngbAccordionBody class="p-0">
                              <ng-template>
                                <table class="table table-borderless">
                                  <ng-container *ngFor="let particular of access.particulars">
                                    <tr>
                                      <td>
                                        <div class="table-title-div">
                                          {{ particular.particularsName }}
                                        </div>
                                      </td>
                                      <ng-container *ngFor="let role of roles">
                                        <td>
                                          <div class="form-check-list d-flex gap-3 flex-wrap">
                                            <div class="form-check-box position-relative">
                                              <input type="checkbox" (change)="updateUserRole($event, role, access, particular)"
                                                     [checked]="getRolesChecked(role, access, particular)">
                                              <label><span class="opacity-0">1</span></label>
                                            </div>
                                          </div>
                                        </td>
                                      </ng-container>
                                    </tr>
                                  </ng-container>
                                </table>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
