<div class="container-fluid" *ngIf="paperDetails">

  <div class="timeline-main-div mb-5">
    <div class="timeline-box st-aprv position-relative">
      <div class="tb-head d-flex gap-2">
        <div>
          <h1>01</h1>
        </div>
        <div>
          <h6>Registered</h6>
          <p>
            25-Jan,2025 18:06 PM
          </p>
        </div>
      </div>
    </div>
    <div class="timeline-box st-aprv position-relative">
      <div class="tb-head d-flex gap-2">
        <div>
          <h1>02</h1>
        </div>
        <div>
          <h6>PDM approval</h6>
          <p>
            25-Jan,2025 18:06 PM
          </p>
        </div>
      </div>
    </div>
    <div class="timeline-box st-prog position-relative">
      <div class="tb-head d-flex gap-2">
        <div>
          <h1>03</h1>
        </div>
        <div>
          <h6>Pre-CGB</h6>
          <p>
            25-Jan,2025 18:06 PM
          </p>
        </div>
      </div>
    </div>
    <div class="timeline-box st-pen position-relative">
      <div class="tb-head d-flex gap-2">
        <div>
          <h1>04</h1>
        </div>
        <div>
          <h6>CGB</h6>
          <p>
            25-Jan,2025 18:06 PM
          </p>
        </div>
      </div>
    </div>
    <div class="timeline-box st-pen position-relative">
      <div class="tb-head d-flex gap-2">
        <div>
          <h1>05</h1>
        </div>
        <div>
          <h6>Partners Approval</h6>
          <p>
            25-Jan,2025 18:06 PM
          </p>
        </div>
      </div>
    </div>
    <div class="timeline-box st-pen position-relative">
      <div class="tb-head d-flex gap-2">
        <div>
          <h1>06</h1>
        </div>
        <div>
          <h6>Completed</h6>
          <p>
            25-Jan,2025 18:06 PM
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="form-main-div">
        <div class="form-header mb-4">
          <div class="row align-items-center">
            <div class="fh-title">
              <h3>Preview</h3>
            </div>
          </div>
        </div>
        <div class="form-body bg-white">
          <div class="fb-form">
            <div class="fb-title-div mb-3">
              <h4>1. General Information</h4>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-view-group">
                  <label>Title</label>
                  <h6>paper</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Contract ID</label>
                  <h6>CGB-2025-001</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Business Scope</label>
                  <h6>Wells Operations</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Initiator (CAM)</label>
                  <h6>John Doe</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="fb-form">
            <div class="fb-title-div mb-3">
              <h4>2. Contract Details</h4>
            </div>
            <div class="row">

              <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="form-view-group">
                  <label>Estimated Contract Value</label>
                  <h6>$2,500,000 (USD)</h6>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="form-view-group">
                  <label>Contract Duration (5 years)</label>
                  <h6>Start Date: 01-Mar-2025</h6>
                  <h6>End Date:  01-Mar-2030</h6>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="form-view-group">
                  <label>Contract Type</label>
                  <h6>Fixed Price</h6>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="form-view-group">
                  <label>Primary Vendor</label>
                  <h6>Primary Vendor</h6>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="fb-form">
            <div class="fb-title-div mb-3">
              <h4>1. General Information</h4>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-view-group">
                  <label>Title</label>
                  <h6>Vendor Selection for Offshore Drilling Equipment Procurement</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Contract ID</label>
                  <h6>CGB-2025-001</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Business Scope</label>
                  <h6>Wells Operations</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Initiator (CAM)</label>
                  <h6>John Doe</h6>
                </div>
              </div>
            </div>
          </div> -->
          <div class="fb-form">
            <div class="fb-title-div mb-3">
              <h4>2. Procurement Strategy</h4>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-view-group">
                  <label></label>
                  <h6>Risk</h6>
                </div>
              </div>
            </div>
            <div class="row" *ngFor="let risk of riskMitigation;let i=index">
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Sr no</label>
                  <h6>{{risk.srNo}}</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Risks</label>
                  <h6>{{risk.risks}}</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Mitigations</label>
                  <h6>{{risk.mitigations}}</h6>
                </div>
              </div>
              <!-- <div class="col-md-12">
                <div class="form-view-group">
                  <label>Justification</label>
                  <h6>
                    <b>Lorem Ipsum is simply dummy</b> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic <b>typesetting</b>, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </h6>
                </div>
              </div> -->
              <!-- <div class="col-md-12">
                <div class="form-view-group">
                  <label>Market Engagement Plan</label>
                  <div class="row row-gap-2">
                    <div class="col-sm-6 col-md-4">
                      <div class="attchment-view d-flex gap-2 justify-content-between">
                        <div class="d-flex gap-2">
                          <div>
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M4.8001 8.49694H11.2001M4.8001 11.6949L11.2001 11.7018M4.8001 5.29902L9.06676 5.30182M13.3334 15.9685H2.66676C2.07766 15.9685 1.6001 15.4909 1.6001 14.9018V2.10182C1.6001 1.51272 2.07766 1.03516 2.66676 1.03516H11.2001L14.4001 4.23516V14.9018C14.4001 15.4909 13.9225 15.9685 13.3334 15.9685Z" stroke="#626262" stroke-width="1.06667" stroke-linecap="square"/>
                            </svg>
                          </div>
                          <div>
                            <h6 class="mb-0">Procurement Approach</h6>
                            <p class="mb-0">1.2 Mb</p>
                          </div>
                        </div>
                        <div>
                          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 4C0 1.79086 1.79086 0 4 0H24C26.2091 0 28 1.79086 28 4V24C28 26.2091 26.2091 28 24 28H4C1.79086 28 0 26.2091 0 24V4Z" fill="#E6EFFC"/>
                            <path d="M20 16V18.6667C20 19.0203 19.8595 19.3594 19.6095 19.6095C19.3594 19.8595 19.0203 20 18.6667 20H9.33333C8.97971 20 8.64057 19.8595 8.39052 19.6095C8.14048 19.3594 8 19.0203 8 18.6667V16" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.6665 12.668L13.9998 16.0013L17.3332 12.668" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14 16V8" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="attchment-view d-flex gap-2 justify-content-between">
                        <div class="d-flex gap-2">
                          <div>
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M4.8001 8.49694H11.2001M4.8001 11.6949L11.2001 11.7018M4.8001 5.29902L9.06676 5.30182M13.3334 15.9685H2.66676C2.07766 15.9685 1.6001 15.4909 1.6001 14.9018V2.10182C1.6001 1.51272 2.07766 1.03516 2.66676 1.03516H11.2001L14.4001 4.23516V14.9018C14.4001 15.4909 13.9225 15.9685 13.3334 15.9685Z" stroke="#626262" stroke-width="1.06667" stroke-linecap="square"/>
                            </svg>
                          </div>
                          <div>
                            <h6 class="mb-0">Procurement Approach</h6>
                            <p class="mb-0">1.2 Mb</p>
                          </div>
                        </div>
                        <div>
                          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 4C0 1.79086 1.79086 0 4 0H24C26.2091 0 28 1.79086 28 4V24C28 26.2091 26.2091 28 24 28H4C1.79086 28 0 26.2091 0 24V4Z" fill="#E6EFFC"/>
                            <path d="M20 16V18.6667C20 19.0203 19.8595 19.3594 19.6095 19.6095C19.3594 19.8595 19.0203 20 18.6667 20H9.33333C8.97971 20 8.64057 19.8595 8.39052 19.6095C8.14048 19.3594 8 19.0203 8 18.6667V16" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.6665 12.668L13.9998 16.0013L17.3332 12.668" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14 16V8" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="attchment-view d-flex gap-2 justify-content-between">
                        <div class="d-flex gap-2">
                          <div>
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M4.8001 8.49694H11.2001M4.8001 11.6949L11.2001 11.7018M4.8001 5.29902L9.06676 5.30182M13.3334 15.9685H2.66676C2.07766 15.9685 1.6001 15.4909 1.6001 14.9018V2.10182C1.6001 1.51272 2.07766 1.03516 2.66676 1.03516H11.2001L14.4001 4.23516V14.9018C14.4001 15.4909 13.9225 15.9685 13.3334 15.9685Z" stroke="#626262" stroke-width="1.06667" stroke-linecap="square"/>
                            </svg>
                          </div>
                          <div>
                            <h6 class="mb-0">Procurement Approach</h6>
                            <p class="mb-0">1.2 Mb</p>
                          </div>
                        </div>
                        <div>
                          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 4C0 1.79086 1.79086 0 4 0H24C26.2091 0 28 1.79086 28 4V24C28 26.2091 26.2091 28 24 28H4C1.79086 28 0 26.2091 0 24V4Z" fill="#E6EFFC"/>
                            <path d="M20 16V18.6667C20 19.0203 19.8595 19.3594 19.6095 19.6095C19.3594 19.8595 19.0203 20 18.6667 20H9.33333C8.97971 20 8.64057 19.8595 8.39052 19.6095C8.14048 19.3594 8 19.0203 8 18.6667V16" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.6665 12.668L13.9998 16.0013L17.3332 12.668" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14 16V8" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-view-group">
                  <label></label>
                  <h6>Bid Invites</h6>
                </div>
              </div>
            </div>
            <div class="row" *ngFor="let bid of bidInvites;let i=index">
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>name</label>
                  <h6>{{bid.legalName}}</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Local/JV</label>
                  <h6>{{bid.isLocalOrJV?'Yes':'No'}}</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Country</label>
                  <h6>{{bid.countryName}}</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Parent Company</label>
                  <h6>{{bid.parentCompanyName}}</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Remarks</label>
                  <h6>{{bid.remarks}}</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="fb-form">
            <div class="fb-title-div mb-3">
              <h4>3. Value Delivery</h4>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-view-group">
                  <label></label>
                  <h6>Cost Reduction</h6>
                </div>
              </div>
            </div>
            <div class="row" *ngFor="let costReduction of valueDeliveriesCostsharing;let i=index">
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>value</label>
                  <h6>{{costReduction.costReductionValue}}</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Percent</label>
                  <h6>{{costReduction.costReductionPercent}}</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Remark</label>
                  <h6>{{costReduction.costReductionRemarks}}</h6>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-view-group">
                  <label></label>
                  <h6>Operating Efficiency</h6>
                </div>
              </div>
            </div>
            <div class="row" *ngFor="let operatingEfficiency of valueDeliveriesCostsharing;let i=index">
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>value</label>
                  <h6>{{operatingEfficiency.operatingEfficiencyValue}}</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Percent</label>
                  <h6>{{operatingEfficiency.operatingEfficiencyPercent}}</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Remark</label>
                  <h6>{{operatingEfficiency.operatingEfficiencyRemarks}}</h6>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-view-group">
                  <label></label>
                  <h6>Cost Avoidance</h6>
                </div>
              </div>
            </div>
            <div class="row" *ngFor="let costAvoidance of valueDeliveriesCostsharing;let i=index">
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>value</label>
                  <h6>{{costAvoidance.costAvoidanceValue}}</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Percent</label>
                  <h6>{{costAvoidance.costAvoidancePercent}}</h6>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="form-view-group">
                  <label>Remark</label>
                  <h6>{{costAvoidance.costAvoidanceRemarks}}</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="fb-form">
            <div class="fb-title-div mb-3">
              <h4>4. Cost Sharing Methodology</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-view-group">
                <label></label>
                <h6>Capex</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngFor="let capex of valueDeliveriesCostsharing;let i=index">
            <div class="col-sm-4 col-md-4">
              <div class="form-view-group">
                <label>isCapex</label>
                <h6>{{capex.isCapex ? 'Yes':'No'}}</h6>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="form-view-group">
                <label>Methodology</label>
                <h6>{{capex.capexMethodology}}</h6>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-view-group">
                <label></label>
                <h6>Fixed Opex</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngFor="let fixedOpex of valueDeliveriesCostsharing;let i=index">
            <div class="col-sm-4 col-md-4">
              <div class="form-view-group">
                <label>isFixedOpex</label>
                <h6>{{fixedOpex.isFixOpex ? 'Yes':'No'}}</h6>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="form-view-group">
                <label>Methodology</label>
                <h6>{{fixedOpex.fixOpexMethodology}}</h6>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-view-group">
                <label></label>
                <h6>Variable Opex</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngFor="let varOpex of valueDeliveriesCostsharing;let i=index">
            <div class="col-sm-4 col-md-4">
              <div class="form-view-group">
                <label>isVariableOpex</label>
                <h6>{{varOpex.isVariableOpex ? 'Yes':'No'}}</h6>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="form-view-group">
                <label>Methodology</label>
                <h6>{{varOpex.variableOpexMethodology}}</h6>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-view-group">
                <label></label>
                <h6>Inventory Item</h6>
              </div>
            </div>
          </div>
          <div class="row" *ngFor="let item of valueDeliveriesCostsharing;let i=index">
            <div class="col-sm-4 col-md-4">
              <div class="form-view-group">
                <label>isInventoryItems</label>
                <h6>{{item.isInventoryItems ? 'Yes':'No'}}</h6>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="form-view-group">
                <label>Methodology</label>
                <h6>{{item.inventoryItemsMethodology}}</h6>
              </div>
            </div>
          </div>

          <!-- <div class="fb-form">
            <div class="fb-title-div mb-3">
              <h4>5. Risk Assessment</h4>
            </div>
            <div class="row">

              <div class="col-xl-12">
                <div class="form-view-group">
                  <label>Safety and Operational Risk (S&OR) Assessment</label>
                  <h6>Yes</h6>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="form-view-group">
                  <label>Potential Risks Identified</label>
                  <p class="text-dark mb-2">
                    Cost Overruns :
                  </p>
                  <h6>
                    <b>Typesetting</b>, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </h6>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-view-group">
                  <label>Market Engagement Plan</label>
                  <div class="row row-gap-2">
                    <div class="col-sm-6 col-md-4">
                      <div class="attchment-view d-flex gap-2 justify-content-between">
                        <div class="d-flex gap-2">
                          <div>
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M4.8001 8.49694H11.2001M4.8001 11.6949L11.2001 11.7018M4.8001 5.29902L9.06676 5.30182M13.3334 15.9685H2.66676C2.07766 15.9685 1.6001 15.4909 1.6001 14.9018V2.10182C1.6001 1.51272 2.07766 1.03516 2.66676 1.03516H11.2001L14.4001 4.23516V14.9018C14.4001 15.4909 13.9225 15.9685 13.3334 15.9685Z" stroke="#626262" stroke-width="1.06667" stroke-linecap="square"/>
                            </svg>
                          </div>
                          <div>
                            <h6 class="mb-0">Assessment report</h6>
                            <p class="mb-0">1.2 Mb</p>
                          </div>
                        </div>
                        <div>
                          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 4C0 1.79086 1.79086 0 4 0H24C26.2091 0 28 1.79086 28 4V24C28 26.2091 26.2091 28 24 28H4C1.79086 28 0 26.2091 0 24V4Z" fill="#E6EFFC"/>
                            <path d="M20 16V18.6667C20 19.0203 19.8595 19.3594 19.6095 19.6095C19.3594 19.8595 19.0203 20 18.6667 20H9.33333C8.97971 20 8.64057 19.8595 8.39052 19.6095C8.14048 19.3594 8 19.0203 8 18.6667V16" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.6665 12.668L13.9998 16.0013L17.3332 12.668" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14 16V8" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="attchment-view d-flex gap-2 justify-content-between">
                        <div class="d-flex gap-2">
                          <div>
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M4.8001 8.49694H11.2001M4.8001 11.6949L11.2001 11.7018M4.8001 5.29902L9.06676 5.30182M13.3334 15.9685H2.66676C2.07766 15.9685 1.6001 15.4909 1.6001 14.9018V2.10182C1.6001 1.51272 2.07766 1.03516 2.66676 1.03516H11.2001L14.4001 4.23516V14.9018C14.4001 15.4909 13.9225 15.9685 13.3334 15.9685Z" stroke="#626262" stroke-width="1.06667" stroke-linecap="square"/>
                            </svg>
                          </div>
                          <div>
                            <h6 class="mb-0">Assessment report</h6>
                            <p class="mb-0">1.2 Mb</p>
                          </div>
                        </div>
                        <div>
                          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 4C0 1.79086 1.79086 0 4 0H24C26.2091 0 28 1.79086 28 4V24C28 26.2091 26.2091 28 24 28H4C1.79086 28 0 26.2091 0 24V4Z" fill="#E6EFFC"/>
                            <path d="M20 16V18.6667C20 19.0203 19.8595 19.3594 19.6095 19.6095C19.3594 19.8595 19.0203 20 18.6667 20H9.33333C8.97971 20 8.64057 19.8595 8.39052 19.6095C8.14048 19.3594 8 19.0203 8 18.6667V16" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.6665 12.668L13.9998 16.0013L17.3332 12.668" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14 16V8" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="fb-form">
            <div class="fb-title-div mb-3">
              <h4>6. Attachments</h4>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-view-group">
                  <label>Supporting Documents</label>
                  <div class="row row-gap-2">
                    <div class="col-sm-6 col-md-4">
                      <div class="attchment-view d-flex gap-2 justify-content-between">
                        <div class="d-flex gap-2">
                          <div>
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M4.8001 8.49694H11.2001M4.8001 11.6949L11.2001 11.7018M4.8001 5.29902L9.06676 5.30182M13.3334 15.9685H2.66676C2.07766 15.9685 1.6001 15.4909 1.6001 14.9018V2.10182C1.6001 1.51272 2.07766 1.03516 2.66676 1.03516H11.2001L14.4001 4.23516V14.9018C14.4001 15.4909 13.9225 15.9685 13.3334 15.9685Z" stroke="#626262" stroke-width="1.06667" stroke-linecap="square"/>
                            </svg>
                          </div>
                          <div>
                            <h6 class="mb-0">Technical Specifications.pdf</h6>
                            <p class="mb-0">1.2 Mb</p>
                          </div>
                        </div>
                        <div>
                          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 4C0 1.79086 1.79086 0 4 0H24C26.2091 0 28 1.79086 28 4V24C28 26.2091 26.2091 28 24 28H4C1.79086 28 0 26.2091 0 24V4Z" fill="#E6EFFC"/>
                            <path d="M20 16V18.6667C20 19.0203 19.8595 19.3594 19.6095 19.6095C19.3594 19.8595 19.0203 20 18.6667 20H9.33333C8.97971 20 8.64057 19.8595 8.39052 19.6095C8.14048 19.3594 8 19.0203 8 18.6667V16" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.6665 12.668L13.9998 16.0013L17.3332 12.668" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14 16V8" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="attchment-view d-flex gap-2 justify-content-between">
                        <div class="d-flex gap-2">
                          <div>
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M4.8001 8.49694H11.2001M4.8001 11.6949L11.2001 11.7018M4.8001 5.29902L9.06676 5.30182M13.3334 15.9685H2.66676C2.07766 15.9685 1.6001 15.4909 1.6001 14.9018V2.10182C1.6001 1.51272 2.07766 1.03516 2.66676 1.03516H11.2001L14.4001 4.23516V14.9018C14.4001 15.4909 13.9225 15.9685 13.3334 15.9685Z" stroke="#626262" stroke-width="1.06667" stroke-linecap="square"/>
                            </svg>
                          </div>
                          <div>
                            <h6 class="mb-0">Vendor List.xlsx</h6>
                            <p class="mb-0">1.2 Mb</p>
                          </div>
                        </div>
                        <div>
                          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 4C0 1.79086 1.79086 0 4 0H24C26.2091 0 28 1.79086 28 4V24C28 26.2091 26.2091 28 24 28H4C1.79086 28 0 26.2091 0 24V4Z" fill="#E6EFFC"/>
                            <path d="M20 16V18.6667C20 19.0203 19.8595 19.3594 19.6095 19.6095C19.3594 19.8595 19.0203 20 18.6667 20H9.33333C8.97971 20 8.64057 19.8595 8.39052 19.6095C8.14048 19.3594 8 19.0203 8 18.6667V16" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.6665 12.668L13.9998 16.0013L17.3332 12.668" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14 16V8" stroke="#582AA2" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="fb-form pt-0">
            <div class="ff-btn-list d-flex gap-3 justify-content-end">

              <button class="btn btn-primary">
                Edit
              </button>
              <button class="btn btn-dark d-flex gap-2">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.600098 0V5.4C0.600098 6.72548 1.67461 7.8 3.0001 7.8C4.32558 7.8 5.4001 6.72548 5.4001 5.4V1.8C5.4001 1.13726 4.86284 0.6 4.2001 0.6C3.53736 0.6 3.0001 1.13726 3.0001 1.8V6M7.2001 0.6H15.0001C15.6628 0.6 16.2001 1.13726 16.2001 1.8V16.2C16.2001 16.8627 15.6628 17.4 15.0001 17.4H3.0001C2.33736 17.4 1.8001 16.8627 1.8001 16.2V9.6M13.2001 5.4H8.4001M13.2001 9H8.4001M13.2001 12.6H4.8001" stroke="white" stroke-width="1.2"/>
                </svg>
                Export
              </button>

            </div>
          </div> -->

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-main-div">
        <div class="form-header mb-4">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="fh-title">
                <h3>Visitor Logs</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="visitor-logs-card">
          <div class="visitor-box mb-3">
            <div class="vb-img">
              <img src="/img/visitor.png" alt="visitor" class="img-fluid">
            </div>
            <div class="vb-detail">
              <h6>Martin Gurly <span>(Secretary)</span></h6>
              <p>
                the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
              </p>
              <small>29 Min Ago</small>
            </div>
          </div>
          <div class="visitor-box mb-3">
            <div class="vb-img">
              <img src="/img/visitor.png" alt="visitor" class="img-fluid">
            </div>
            <div class="vb-detail">
              <h6>Martin Gurly <span>(Secretary)</span></h6>
              <p>
                the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
              </p>
              <small>29 Min Ago</small>
            </div>
          </div>
          <div class="visitor-box mb-3">
            <div class="vb-img">
              <img src="/img/visitor.png" alt="visitor" class="img-fluid">
            </div>
            <div class="vb-detail">
              <h6>Martin Gurly <span>(Secretary)</span></h6>
              <p>
                the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
              </p>
              <small>29 Min Ago</small>
            </div>
          </div>
          <div class="chat-input-group position-relative">
            <textarea class="form-control" placeholder="Write comment here"></textarea>


            <button class="btn">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.636705 0.0448581C0.556778 0.00584078 0.46695 -0.00818904 0.378933 0.00459804C0.290916 0.0173851 0.208793 0.0563957 0.143274 0.116543C0.077754 0.176691 0.0318774 0.255185 0.0116255 0.341789C-0.00862634 0.428394 -0.0023138 0.519092 0.0297403 0.602056L2.55624 7.37997C2.70525 7.78008 2.70525 8.22045 2.55624 8.62056L0.0306291 15.3985C-0.00126334 15.4813 -0.00749372 15.5719 0.0127476 15.6583C0.0329889 15.7448 0.078766 15.8231 0.14413 15.8832C0.209493 15.9433 0.291421 15.9824 0.379265 15.9953C0.46711 16.0082 0.556808 15.9944 0.636705 15.9557L16.6328 8.40195C16.7089 8.36596 16.7732 8.3091 16.8183 8.23799C16.8633 8.16688 16.8872 8.08444 16.8872 8.00027C16.8872 7.91609 16.8633 7.83365 16.8183 7.76254C16.7732 7.69143 16.7089 7.63457 16.6328 7.59859L0.636705 0.0448581Z" fill="#582AA2"/>
                <path d="M3.2002 8H16.0002" stroke="#E6EFFC" stroke-width="0.646308" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
