<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="cbp-main-div">
        <div class="cgb-table-div custom-table">
          <table class="table">
            <thead>
            <tr>
              <th>Paper</th>
              <th class="text-white" style="background-color: #007007;">CGB Chair</th>
              <th class="text-white" style="background-color: #FFA500;">CPO</th>
              <th class="text-white" style="background-color: #E10000;">Legal</th>
              <th class="text-white" style="background-color: #08039E;">BLT</th>
              <th class="text-white" style="background-color: #149568;">PHCA</th>
              <th>Result</th>
            </tr>
            </thead>
            <tbody>
              <tr>
              <td>
                <div class="paper-id">
                  <p><b>#10242 </b> - Approach to Market</p>
                </div>
              </td>
              <td class="cgb-td">
                <div class="cgb-select">
                  <select class="form-control">
                    <option>Withdraw</option>
                  </select>
                </div>
              </td>
              <td class="cgb-td">
                <div class="cgb-select">
                  <select class="form-control">
                    <option>Approval</option>
                  </select>
                </div>
              </td>
              <td class="cgb-td">
                <div class="cgb-select">
                  <select class="form-control">
                    <option>Action Req.</option>
                  </select>
                </div>
              </td>
              <td class="cgb-td">
                <div class="cgb-select">
                  <select class="form-control">
                    <option>Choose</option>
                  </select>
                </div>
              </td>
              <td class="cgb-td">
                <div class="cgb-select">
                  <select class="form-control">
                    <option>Choose</option>
                    <option>Withdraw</option>
                    <option>Approval</option>
                    <option>Action Req.</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="cgb-status">
                 <div style="background-color: #FFA500">2 Withdraw</div>
                 <div class="text-white" style="background-color: #007007;">1 Approval</div>
                 <div class="text-white" style="background-color: #E10000;">2 Action Req.</div>
                </div>
              </td>
            </tr>
              <tr>
                <td>
                  <b>#10242 </b> - Approach to Market
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Withdraw</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Approval</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Action Req.</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Choose</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Choose</option>
                      <option>Withdraw</option>
                      <option>Approval</option>
                      <option>Action Req.</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="cgb-status">
                    <div style="background-color: #FFA500">2 Withdraw</div>
                    <div class="text-white" style="background-color: #007007;">1 Approval</div>
                    <div class="text-white" style="background-color: #E10000;">2 Action Req.</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <b>#10242 </b> - Approach to Market
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Withdraw</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Approval</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Action Req.</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Choose</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Choose</option>
                      <option>Withdraw</option>
                      <option>Approval</option>
                      <option>Action Req.</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="cgb-status">
                    <div style="background-color: #FFA500">2 Withdraw</div>
                    <div class="text-white" style="background-color: #007007;">1 Approval</div>
                    <div class="text-white" style="background-color: #E10000;">2 Action Req.</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <b>#10242 </b> - Approach to Market
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Withdraw</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Approval</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Action Req.</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Choose</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Choose</option>
                      <option>Withdraw</option>
                      <option>Approval</option>
                      <option>Action Req.</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="cgb-status">
                    <div style="background-color: #FFA500">2 Withdraw</div>
                    <div class="text-white" style="background-color: #007007;">1 Approval</div>
                    <div class="text-white" style="background-color: #E10000;">2 Action Req.</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <b>#10242 </b> - Approach to Market
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Withdraw</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Approval</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Action Req.</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Choose</option>
                    </select>
                  </div>
                </td>
                <td class="cgb-td">
                  <div class="cgb-select">
                    <select class="form-control">
                      <option>Choose</option>
                      <option>Withdraw</option>
                      <option>Approval</option>
                      <option>Action Req.</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="cgb-status">
                    <div style="background-color: #FFA500">2 Withdraw</div>
                    <div class="text-white" style="background-color: #007007;">1 Approval</div>
                    <div class="text-white" style="background-color: #E10000;">2 Action Req.</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
