<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add/ Edit New Role</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="roleForm">
    <div class="modal-form">
      <div class="form-group mb-3">
        <label>Role Name</label>
        <input class="form-control" placeholder="Enter Role Name" formControlName="roleName"/>
      </div>
      <div class="form-group mb-3">
        <label>Access to</label>
        <ng-select2 formControlName="accessTo" [data]="accessTypes"></ng-select2>
      </div>
      <div class="form-group mb-3" *ngIf="showSectionDropdown">
        <label>Section</label>
        <ng-select2 formControlName="section" multiple [data]="selectedParticulars"></ng-select2>
      </div>
      <div class="form-group mb-3">
        <label>Action</label>
        <select class="form-control" formControlName="action">
          <option value="Read">Read Only</option>
          <option value="Read Write">Read Write</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer px-0">
  <div class="fb-form pt-0">
    <div class="ff-btn-list d-flex gap-3 justify-content-end">
      <button class="btn btn-outline-dark" (click)="activeModal.close('Save click')">
        Cancel
      </button>
      <button class="btn btn-primary" (click)="save()" [disabled]="roleForm.invalid">
        Save
      </button>
    </div>
  </div>
</div>
