<!-- Toasts Container -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <ngb-toast
    *ngFor="let toast of toastService.toasts"
    [class]="'bg-' + toast.type +' text-white'"
    [autohide]="true"
    [delay]="5000"
    (hidden)="toastService.remove(toast)"
  >
    {{ toast.message }}
  </ngb-toast>
</div>


<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add/ Edit New Role</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="roleForm">
    <div class="modal-form">
      <div class="form-group mb-3">
        <label>Role Name</label>
        <input class="form-control" placeholder="Enter Role Name" formControlName="roleName"/>
      </div>
      <div class="form-group mb-3">
        <label>Access to</label>
        <select2 multiple [data]="accessTypes" placeholder="Select Access Type" (update)="updateValues($event)"
                 resettable></select2>
      </div>
      <div class="form-group mb-3" *ngIf="showSectionDropdown">
        <label>Section</label>
        <select2 multiple [data]="selectedParticulars" placeholder="Select Section" (update)="updateSectionValues($event)" resettable></select2>
      </div>
      <div class="form-group mb-3">
        <label>Action</label>
        <select class="form-control" formControlName="action">
          <option value="Read">Read Only</option>
          <option value="Read Write">Read Write</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer px-0">
  <div class="fb-form pt-0">
    <div class="ff-btn-list d-flex gap-3 justify-content-end">
      <button class="btn btn-outline-dark" (click)="activeModal.close('Save click')" [disabled]="isSubmitting">
        Cancel
      </button>
      <button class="btn btn-primary" (click)="save()" [disabled]="roleForm.invalid || isSubmitting">
        <span *ngIf="!isSubmitting">Save</span>
        <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm me-1"></span>
        <span *ngIf="isSubmitting">Saving...</span>
      </button>
    </div>
  </div>
</div>
